<%= form_with(model: [:admin, journey], local: true, builder: AdminFormBuilder) do |form| %>
  <% if journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journey.errors.count, "error") %> prohibited this journey from being saved</h2>
    </div>
  <% end %>

  <%= form.text_field :title %>
  <%= form.text_field :custom_title %>
  <%= form.text_field :slug %>
  <%= form.text_field :keywords %>
  <%= form.select :published_status, Journey.defined_enums['published_status'] %>
  <%= form.select :image_name, Dir.glob("app/assets/images/journeys/*").map { |path| File.basename(path) } %>
  <%= form.number_field :position %>
  <%= form.text_area :description, size: "60x12" %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
