<%= form_with(model: [:admin, journey], local: true, builder: AdminFormBuilder) do |form| %>
  <% if journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journey.errors.count, "error") %> prohibited this journey from being saved</h2>
    </div>
  <% end %>


  <% if journey.is_outdated? %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              This journey is linked to laws which were updated since the journey was last checked for law compliance.
            </li>
            <li>
              Updated laws:
              <ol>
                <% journey.updated_laws_since_last_check.each do |law| %>
                  <li><%= link_to law.identifier, law.identifier, target: '_blank' %></li>
                <% end %>
              </ol>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <% if journey.last_checked_on && journey.last_checked_on < 3.months.ago %>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Last check should be no more than 3 months old
      </strong>
    </div>
  <% end %>

  <%= form.text_field :title %>
  <%= form.text_field :custom_title %>
  <%= form.text_field :slug %>
  <%= form.text_field :keywords %>
  <%= form.text_area :short_description %>
  <%= form.fields_for :categorization do |cat| %>
    <%= cat.collection_check_boxes :category_ids, Category.all, :id, :name, checked: journey.categorization.categories.pluck(:id) %>
  <% end %>
  <%= form.select :published_status, Journey.defined_enums['published_status'] %>
  <%= form.text_field :image_name %>
  <%= form.date_field :last_checked_on %>
  <%= form.number_field :position %>
  <%= form.text_area :description, size: "60x12" %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
