<%= form_with(model: [:admin, journey], local: true, builder: AdminFormBuilder) do |form| %>
  <% if journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journey.errors.count, "error") %> prohibited this journey from being saved</h2>
    </div>
  <% end %>


  <% if journey.last_checked_on && journey.last_checked_on < 3.months.ago %>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Last check should be no more than 3 months old
      </strong>
    </div>
  <% end %>

  <%= form.text_field :title %>
  <%= form.text_field :custom_title %>
  <%= form.text_field :slug %>
  <%= form.text_field :keywords %>
  <%= form.select :published_status, Journey.defined_enums['published_status'] %>
  <%= form.text_field :image_name %>
  <%= form.date_field :last_checked_on %>
  <%= form.number_field :position %>
  <%= form.text_area :description, size: "60x12" %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
