<p id="notice"><%= notice %></p>

<%= render 'breadcrumbs', crumbs: [], current: 'Journeys' %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Pos</th>
      <th class="govuk-table__header" scope="col">Featured</th>
      <th class="govuk-table__header" scope="col">Title</th>
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @journeys.each do |journey| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= journey.position %></td>
        <td class="govuk-table__cell"><%= journey.featured_position %></td>
        <td class="govuk-table__cell"><%= link_to journey.title, journey_url(slug: journey.slug) %></td>
        <td class="govuk-table__cell"><%= link_to "Steps (#{journey.steps.count})", admin_journey_steps_path(journey) %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_admin_journey_path(journey) %></td>
        <td class="govuk-table__cell"><%= link_to 'Destroy', [:admin, journey], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journey', new_admin_journey_path, class: 'govuk-button' %>
