<p id="notice"><%= notice %></p>

<%= render 'breadcrumbs', crumbs: [], current: 'Journeys' %>

<div class="govuk-body">
  <%= form_tag(admin_journeys_path, method: :get) do %>
    <div class="govuk-form-group">
      <%= label_tag(:filter_status, "Filter by status", class: 'govuk-label') %>
      <%= select_tag(
            :status,
            options_for_select(Journey.defined_enums['published_status'], params[:status]),
            onchange: 'this.form.submit();',
            include_blank: true,
            class: 'govuk-select'
          )
      %>
    </div>
  <% end %>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Position</th>
      <th class="govuk-table__header" scope="col">Title</th>
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @journeys.each do |journey| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= journey.position %></td>
        <td class="govuk-table__cell"><%= link_to journey.title, journey %> <%= "(#{journey.published_status})" if journey.published_status != 'PUBLISHED' %></td>
        <td class="govuk-table__cell"><%= link_to "Steps (#{journey.steps.count})", admin_journey_steps_path(journey) %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_admin_journey_path(journey) %></td>
        <td class="govuk-table__cell"><%= link_to 'Destroy', [:admin, journey], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journey', new_admin_journey_path, class: 'govuk-button' %>
