<p id="notice"><%= notice %></p>

<%= render 'breadcrumbs', crumbs: [['Journeys', admin_journeys_url]], current: @journey.title %>

<%= link_to 'Edit', edit_admin_journey_path(@journey) %> |
<%= link_to 'Steps', admin_journey_steps_path(@journey) %> |
<%= link_to 'Back', admin_journeys_path %>
