<p id="notice"><%= notice %></p>

<h1>Journey <%= @journey.title %></h1>

<%= link_to 'Edit', edit_admin_journey_path(@journey) %> |
<%= link_to 'Steps', admin_journey_steps_path(@journey) %> |
<%= link_to 'Back', admin_journeys_path %>
