<%= content_for(:headerline, @user_journey.journey.title) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" id="user_timeline">
    <%= render 'shared/user_timeline' %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body sdn-content">
      <div id="all_steps_completed">
        <%= render 'user_journeys/all_steps_completed', user_journey: @user_journey %>
      </div>
      <h1><%= @current_step.title %></h1>
      <%= raw @current_step.description %>
    </div>

    <div id="todo_list">
      <%= render 'user_journeys/todo_list', step: @current_step, user_task_by_tasks: @user_task_by_tasks %>
    </div>

  </div>
</div>
