<%= form_with(model: [:admin, page], local: true, builder: AdminFormBuilder) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>
    </div>
  <% end %>

  <%= form.text_field :title %>
  <%= form.text_field :slug %>
  <%= form.check_box :is_faq %>
  <%= form.check_box :is_searchable %>
  <%= form.text_field :keywords %>
  <%= form.number_field :position %>
  <%= form.select :image_name, Dir.glob("app/assets/images/journeys/*").map { |path| File.basename(path) }, include_blank: true %>
  <%= form.text_area :content, size: '60x20' %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
