<div>
  <div class="govuk-checkboxes__item">
    <%= form_tag toggle_complete_user_journey_task_path(@user_journey, task), remote: true, authenticity_token: true do |form| %>
      <%= check_box_tag dom_id(task), 1, user_task.completed?, class: 'govuk-checkboxes__input', onChange: 'Rails.fire(this.form, "submit");' %>
      <%= label_tag dom_id(task), task.title, class: 'govuk-label govuk-checkboxes__label' %>
      <%= hidden_field_tag :current_step, @current_step.id %>
    <% end %>
  </div>
</div>
<div>
  <%= link_to 'Prejsť na službu', task.url, target: "_blank", draggable: false, class: "govuk-button govuk-button--start" %>
</div>
