<% content_for :title, build_page_title('Prihláste sa') %>

<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Predtým, než začnete...</span>
    <h1 class="govuk-heading-l">Prihláste sa do svojho účtu</h1>
    <p class="govuk-body">Vďaka prihláseniu sa budete môcť vrátiť k rozpracovaným návodom.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <%= form_tag(auth_path(:google_oauth2), method: :post, class: 'govuk-body govuk-!-margin-bottom-8') do %>
      <%= image_submit_tag 'google/btn_google_signin_dark_normal.svg', class: 'govuk-link', title: 'Prihlásiť sa cez Google', alt: 'Prihlásiť sa cez Google', style: 'max-width: 300px' %>
    <% end %>

    <% if ENV['AUTH_EID_BASE_URL'].present? %>
      <%= form_tag(auth_path(:eid), method: :post, class: 'govuk-body govuk-!-margin-bottom-8') do %>
        <%= image_submit_tag 'eid-sk.svg', class: 'govuk-link', title: 'Prihlásiť sa cez slovensko.sk', alt: 'Prihlásiť sa cez slovensko.sk', style: 'max-width: 300px' %>
      <% end %>
    <% end %>

    <%= form_tag(auth_path(:magiclink), method: :post, id: 'login-email') do %>
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <span class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m">alebo e-mailom</label>
          </span>
          <span class="govuk-hint">
            Pošleme Vám jednoduchý odkaz na prihlásenie sa.
          </span>
          <%= email_field_tag :email, nil, class: 'govuk-input', required: true %>
        </div>
        <%= submit_tag 'Prihlásiť sa e-mailom', class: 'govuk-button' %>
      </fieldset>
    <% end %>
  </div>
</div>
