<% content_for :title, build_page_title('Prihláste sa') %>

<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Predtým, než začnete...</span>
    <h1 class="govuk-heading-l">Prihláste sa do svojho účtu</h1>
    <p class="govuk-body">Vďaka prihláseniu sa budete môcť vrátiť k rozpracovaným návodom.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Prihlásiť sa cez Google</h2>
    <p class="govuk-body govuk-!-margin-bottom-8">
      <%= link_to auth_path(:google_oauth2), class: 'govuk-link', title: 'Prihlásiť sa cez Google' do  %>
        <%= image_tag 'google/btn_google_signin_dark_normal_web.png', alt: 'Prihlásiť sa cez Google' %>
      <% end %>
    </p>

    <%= form_tag(auth_path(:magiclink), method: :post, id: 'login-email') do %>
      <fieldset class="govuk-fieldset">
        <%= email_input_tag(content: params[:email], error: @error) %>
        <%= submit_tag 'Prihlásiť sa e-mailom', class: 'govuk-button' %>
      </fieldset>
    <% end %>
  </div>
</div>
