<% content_for :title, build_page_title('Prihláste sa') %>

<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Predtým, než začnete...</span>
    <h1 class="govuk-heading-l">Prihláste sa do svojho účtu</h1>
    <p class="govuk-body">Vďaka prihláseniu sa budete môcť vrátiť k rozpracovaným návodom.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body govuk-!-margin-bottom-8">
      <%= link_to auth_path(:google_oauth2), class: 'govuk-link', title: 'Prihlásiť sa cez Google' do  %>
        <%= image_tag 'google/btn_google_signin_dark_normal.svg', alt: 'Prihlásiť sa cez Google', style: 'max-width: 300px' %>
      <% end %>
    </p>

    <%= form_tag(auth_path(:magiclink), method: :post, id: 'login-email') do %>
      <fieldset class="govuk-fieldset">
        <% if @email_error %>
          <div class="govuk-form-group govuk-form-group--error">
            <span class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m">alebo e-mailom</label>
            </span>
            <span class="govuk-hint">
              Pošleme Vám jednoduchý odkaz na prihlásenie sa.
            </span>
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden"></span>Email je neplatný
            </span>            
            <%= email_field_tag :email, params[:email], class: 'govuk-input govuk-input--error' %>
          </div>
        <% else %>
          <div class="govuk-form-group">
            <span class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m">alebo e-mailom</label>
            </span>
            <span class="govuk-hint">
              Pošleme Vám jednoduchý odkaz na prihlásenie sa.
            </span>
            <%= email_field_tag :email, nil, class: 'govuk-input' %>
          </div>
        <% end %>
        <%= submit_tag 'Prihlásiť sa e-mailom', class: 'govuk-button' %>
      </fieldset>
    <% end %>
  </div>
</div>
