<div class="sdn-feedbackbar " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="sdn-feedbackbar__container" id="sdn-feedbackbar-container">
      <div class="sdn-feedbackbar__useful">
        <div id="sdn-feedbackbar-useful">
          <span class="sdn-feedbackbar__useful-question">Boli tieto informácie pre vás užitočné?</span>
          <span class="govuk-!-display-inline-block">
            <span class="sdn-feedbackbar__yes" data-module="sdn-appear-link" data-appear="sdn-feedbackbar-thanks" data-disappear="sdn-feedbackbar-useful">
              <a href="#" id="ga-feedback-useful" class="sdn-feedbackbar__link">Áno</a>
            </span>
            <span class="sdn-feedbackbar__no" data-module="sdn-appear-link" data-appear="sdn-feedbackbar-form-no" data-disappear="sdn-feedbackbar-container">
              <a href="#" id="ga-feedback-not-useful" class="sdn-feedbackbar__link">Nie</a>
            </span>
          </span>
        </div>
        <div id="sdn-feedbackbar-thanks" class="sdn-appear-link-hide">
          <span>Ďakujeme za odozvu!&nbsp;</span>
        </div>
      </div>
      <div class="sdn-feedbackbar__foundbug">
        <span>Našli ste na stránke chybu?&nbsp;</span>
        <span>
          <a href="#" id="ga-feedback-bug-report" class="sdn-feedbackbar__link" data-module="sdn-appear-link" data-appear="sdn-feedbackbar-form-foundbug" data-disappear="sdn-feedbackbar-container">Napíšte nám</a>
        </span>
      </div>
    </div>
    <div id="sdn-feedbackbar-form-yes" class="sdn-feedbackbar__form govuk-!-padding-4 sdn-appear-link-hide">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">Ešte posledný krok</h3>
        </div>
        <div class="govuk-grid-column-one-third" style="text-align:right">
          <a href="#" data-module="sdn-appear-link" data-appear="sdn-feedbackbar-container" data-disappear="sdn-feedbackbar-form-yes">Zatvoriť</a>
        </div>
      </div>
      <%= form_with url: feedbacks_path do |form| %>
        <%= hidden_field_tag :feedback_type, 'Useful' %>
        <%= hidden_field_tag :current_path, request.fullpath %>
        <div class="govuk-form-group">
          <%= recaptcha_tags hl: 'sk' %>
        </div>
        <%= form.submit 'Odoslať', class: 'govuk-button', data: { 'disable-with': 'Odosielam...' } %>
        <p class="govuk-body feedback-submitted-feedback govuk-!-padding-left-4 govuk-!-padding-top-2 govuk-!-display-inline-block"></p>
      <% end %>
    </div>
    <div id="sdn-feedbackbar-form-no" class="sdn-feedbackbar__form govuk-!-padding-4 sdn-appear-link-hide">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">Pomôžte nám zlepšiť Návody.Digital</h3>
        </div>
        <div class="govuk-grid-column-one-third" style="text-align:right">
          <a href="#" data-module="sdn-appear-link" data-appear="sdn-feedbackbar-container" data-disappear="sdn-feedbackbar-form-no">Zatvoriť</a>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= form_with url: feedbacks_path do |form| %>
            <%= hidden_field_tag :feedback_type, 'Not useful' %>
            <%= hidden_field_tag :current_path, request.fullpath %>
            <div class="govuk-form-group">
              <%= label_tag :not_useful_detail, 'Čo by ste chceli na tejto stránke zmeniť?', class: 'govuk-label' %>
              <%= text_area_tag :not_useful_detail, nil, class: 'govuk-textarea', rows: 3, required: true %>
            </div>
            <div class="govuk-form-group">
              <%= label_tag :email, 'Vaša e-mailová adresa', class: 'govuk-label' %>
              <%= email_field_tag :email, @__current_user&.email, class: 'govuk-input govuk-!-width-two-thirds' %>
            </div>
            <div class="govuk-form-group">
              <%= recaptcha_tags hl: 'sk' %>
            </div>
            <%= form.submit 'Odoslať', class: 'govuk-button', data: { "disable-with": "Odosielam..." } %>
            <p class="govuk-body feedback-submitted-feedback govuk-!-padding-left-4 govuk-!-padding-top-2 govuk-!-display-inline-block"></p>
          <% end %>
        </div>
      </div>
    </div>
    <div id="sdn-feedbackbar-form-foundbug" class="sdn-feedbackbar__form govuk-!-padding-4 sdn-appear-link-hide">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
          <h3 class="govuk-heading-m">Nahlásenie chyby</h3>
          <p class="govuk-body">Pomocou tohto formuláru môžete nahlásiť chybu v návode, alebo na stránke. Neuvádzajte prosím svoje osobné údaje.</p>
        </div>
        <div class="govuk-grid-column-one-third" style="text-align:right">
          <a href="#" data-module="sdn-appear-link" data-appear="sdn-feedbackbar-container" data-disappear="sdn-feedbackbar-form-foundbug">Zatvoriť</a>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= form_with url: feedbacks_path do |form| %>
            <%= hidden_field_tag :feedback_type, 'Bug report' %>
            <%= hidden_field_tag :current_path, request.fullpath %>
            <div class="govuk-form-group">
              <%= label_tag :bug_what_were_you_doing, 'Čo ste robili?', class: 'govuk-label' %>
              <%= text_field_tag :bug_what_were_you_doing, nil, class: 'govuk-textarea' %>
            </div>
            <div class="govuk-form-group">
              <%= label_tag :bug_what_went_wrong, 'Čo sa nepodarilo?', class: 'govuk-label' %>
              <%= text_area_tag :bug_what_went_wrong, nil, class: 'govuk-textarea', rows: 3, required: true %>
            </div>
            <div class="govuk-form-group">
              <%= recaptcha_tags hl: 'sk' %>
            </div>
            <%= form.submit 'Odoslať', class: 'govuk-button', data: { "disable-with": "Odosielam..." } %>
            <p class="govuk-body feedback-submitted-feedback govuk-!-padding-left-4 govuk-!-padding-top-2 govuk-!-display-inline-block"></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
