<footer class="sdn-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="sdn-footer__container">
      <div class="sdn-footer__newsletter">
        <span class="sdn-footer__newsletter-heading"><label for="email-input">Novinky emailom</label> <small class="sdn-footer__newsletter-heading-tooltip">(raz mesačne)</small></span>
        <div id="newsletter-success" style="display: none">
          <p style="color: white;">
            <strong>Na Váš e-mail sme poslali potvrdzovaciu správu.</strong>
            <br>
            Ďakujeme za Váš záujem.
          </p>
        </div>
        <div id="newsletter-warning" style="display: none">
          <p style="color: white;">
            <strong></strong>
          </p>
        </div>
        <form id="newsletter-form" role="form" action="https://my.sendinblue.com/users/subscribe/js_id/29wti/id/4" data-action="https://my.sendinblue.com/users/subscribeembed/js_id/29wti/id/4" method="post">
          <div class="govuk-form-group sdn-footer__newsletter-form-group">
            <input type="hidden" name="js_id" id="js_id" value="29wti">
            <input type="hidden" name="listid" id="listid" value="45">
            <input type="hidden" name="from_url" id="from_url" value="yes">
            <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
            <input type="email" name="email" id="email-input" required class="govuk-input sdn-footer__newsletter-input" placeholder="Zadajte emailovú adresu"/>
            <button type="submit" class="govuk-button sdn-footer__newsletter-button">Prihlásiť</button>
          </div>
        </form>
        <span class="sdn-footer__newsletter-disclaimer">
                Prihlásením dávam dobrovoľný súhlas OZ Slovensko.Digital na zasielanie bezplatného newslettera na mnou zadaný e-mail. Tento súhlas môžem kdykoľvek odvolať na <%= mail_to ENV['DEFAULT_EMAIL_FROM'], ENV['DEFAULT_EMAIL_FROM'], class: 'sdn-footer__link' %>. Oboznámil(a) som sa s informáciami v sekcii <%= link_to 'Ochrana osobných údajov', page_path('ochrana-osobnych-udajov'), class: 'sdn-footer__link' %>.</span>
      </div>
      <div class="sdn-footer__donate">
            <span class="sdn-footer__heart-wrapper">
              <span class="sdn-footer__heart"></span>
            </span>
        <span class="sdn-footer__donate-text">Páči sa Vám,<br> čo pre vás robíme?<br><a href="https://slovensko.digital/podpora" class="sdn-footer__link sdn-footer__donate-link" target="_blank">Podporte nás</a></span>
      </div>

    </div>
  </div>
  <div class="sdn-footer__bottom-container">
    <div class="govuk-width-container">
      <div class="sdn-footer__bottom-columns">
        <div class="sdn-footer__links">
          <ul>
            <li><%= link_to 'Užitočné notifikácie', notification_subscription_groups_path %></li>
            <li><%= link_to 'Ako sa zapojiť', page_path('ako-sa-zapojit') %></li>
            <li><%= link_to 'Autori projektu', page_path('autori-projektu') %></li>
            <li><%= link_to 'Často kladené otázky', faqs_path %></li>
            <li><%= link_to 'Podmienky používania', page_path('disclaimer') %></li>
            <li><%= link_to 'Ochrana osobných údajov', page_path('ochrana-osobnych-udajov') %></li>
            <li><a href="https://lepsiesluzby.sk" target="_blank">Nahlásiť chybu e-gov služby</a></li>
            <li><%= link_to 'Kontakt', page_path('contact-info') %></li>
          </ul>
        </div>
        <div class="sdn-footer__contact">
          <div class="sdn-footer__contact-content">
            <strong>Slovensko.Digital</strong><br>
            Staré grunty 18, 841 04 Bratislava<br>
            IČO: 50158635<br>
            <a href="mailto:navody@slovensko.digital">navody@slovensko.digital</a>
          </div>
        </div>
        <div class="sdn-footer__social">
          <a href="https://www.facebook.com/slovensko.digital/" target="_blank" class="footer-icon footer-icon__facebook"><span>facebook</span></a>
          <a href="https://github.com/slovensko-digital/navody.digital" target="_blank" class="footer-icon footer-icon__github"><span>github</span></a>
          <a href="https://www.youtube.com/channel/UCbpnKa1XOIpQLYUQ2dz7Sng" target="_blank" class="footer-icon footer-icon__youtube"><span>github</span></a>
        </div>
      </div>

      <p class="sdn-footer__disclaimer govuk-!-font-size-14 govuk-!-margin-top-7">Informácie zverejnené na stránke majú informatívny charakter.</p>
    </div>
  </div>
</footer>
