<header class="sdn-header sdn-header-950" role="banner" data-module="sdn-header">
  <div class="sdn-header__container govuk-width-container">
    <%= link_to root_path, class: 'sdn-header__link' do %>
      <span class="sdn-header__product-name">Návody.Digital</span>
    <% end %>
    <div class="sdn-header__content">
      <button type="button" role="button" class="sdn-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="sdn-header__navigation" aria-label="Navigácia">
          <% unless current_page?(root_path) || current_page?(search_path) %>
            <li class="sdn-header__form">
              <%= form_tag(search_path, method: :get) do %>
                <%= search_field_tag(:q, @q, class: 'govuk-input', placeholder: 'Hľadať', autocomplete: :off) %>
                <button type="submit">Hľadať</button>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to 'O Projekte', page_path('o-projekte'), class: 'sdn-header__link' %>
          </li>
          <li>
            <%= link_to 'Užitočné notifikácie', notification_subscription_groups_path, class: 'sdn-header__link' %>
          </li>
          <li class="user-info">
            <% if current_user.logged_in? %>
              <div class="sdn-header__subnavigation">
                <a href="#" data-turbolinks="false" class="sdn-header__link sdn-header__dropdown-toggle js-dropdown-toggle" aria-controls="subnav-dropdown"><span class="sdn-header__fixed-width-text"><%= current_user.email %></span></a>
                <ul class="sdn-header__dropdown" id="subnav-dropdown">
                  <li>
                    <%= link_to 'Odhlásiť', session_path, method: :delete %>
                  </li>
                </ul>
              </div>
            <% else %>
              <%= link_to 'Prihlásiť', new_session_path, class: 'sdn-header__link' %>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
