<%= form_with(model: [:admin, step.journey, step], local: true, builder: AdminFormBuilder) do |form| %>
  <% if step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>
    </div>
  <% end %>

  <%= form.number_field :position %>
  <%= form.text_field :title %>
  <%= form.text_field :custom_title %>
  <%= form.text_field :keywords %>
  <%= form.check_box :is_waiting_step %>
  <%= form.number_field :waiting_time %>
  <%= form.text_field :slug %>
  <%= form.text_field :app_url %>
  <%= form.text_field :app_link_text %>
  <%= form.select :type, ['BasicStep', 'ExternalAppStep'] %>
  <%= form.text_area :description, size: "60x12" %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
