<p id="notice"><%= notice %></p>

<h1>Steps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Keywords</th>
      <th>Is waiting step</th>
      <th>Slug</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.title %></td>
        <td><%= step.keywords %></td>
        <td><%= step.is_waiting_step %></td>
        <td><%= step.slug %></td>
        <td><%= step.description %></td>
        <td><%= link_to 'Show', [:admin, step.journey, step] %></td>
        <td><%= link_to 'Edit', edit_admin_journey_step_path(step.journey, step) %></td>
        <td><%= link_to 'Destroy', [:admin, step.journey, step], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_admin_journey_step_path(@journey) %>
