<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag apps_child_birth_app_picking_up_protocol_path, method: :get, remote: true do %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="example-hint">
          <legend class="govuk-fieldset__legend">
            Aký je osobný stav matky dieťaťa?
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= radio_button_tag :mother_civil_state, 'married', false, class: 'govuk-radios__input' %>
              <%= label_tag :mother_civil_state_married, 'Vydatá', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= radio_button_tag :mother_civil_state, 'single', false, class: 'govuk-radios__input' %>
              <%= label_tag :mother_civil_state_single, 'Slobodná', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= radio_button_tag :mother_civil_state, 'divorced', false, class: 'govuk-radios__input' %>
              <%= label_tag :mother_civil_state_divorced, 'Rozvedená', class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= radio_button_tag :mother_civil_state, 'widow', false, class: 'govuk-radios__input' %>
              <%= label_tag :mother_civil_state_widow, 'Vdova', class: 'govuk-label govuk-radios__label' %>
            </div>
          </div>
        </fieldset>
      </div>
      <%= submit_tag 'Odoslať', class: 'govuk-button' %>
    <% end %>
  </div>
</div>
