<%= render partial: 'header' %>

<div id="acts-submission" class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_for @application_form, :builder => AppFormBuilder, url: fill_submission_apps_acts_or_sr_app_acts_submissions_path do |f| %>
      <%= render 'apps/acts_or_sr_app/acts_submissions/back', form: f %>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h2 class="govuk-fieldset__heading">Pre ktoré listiny požadujete vyhotovenie kópie?</h2>
      </legend>
      <br />

      <p>Označte listiny, pre ktoré požadujete vyhotovenie kópie.</p>
      <br />

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
            Ak potrebujete listiny, ktoré nie sú zdigitalizované, <%= link_to 'kontaktujte súd', 'https://obcan.justice.sk/infosud/-/infosud/zoznam/sud' %>, ktorý vedie obchodný register, v ktorom je požadovaná spoločnosť zapísaná.
        </strong>
      </div>

      <%= render 'components/error_summary', form: @application_form %>

      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="handle_all" name="handle_all" type="checkbox"  onclick="handleAll()">
          <label class="govuk-label govuk-checkboxes__label" for="handle_all">
            Vybrať všetky
          </label>
        </div>
      </div>
      <hr>

      <div class="govuk-form-group govuk-checkboxes" data-module="govuk-checkboxes">
        <div id="acts_box">
          <%= f.inputs_set :acts_list do %>
            <% @acts.each do |act| %>
              <div class="govuk-checkboxes__item" >
                <%= f.check_box 'acts', { :id => "act_#{act.serial_number}", :class => "govuk-checkboxes__input", :multiple => true, :checked => act.make_copy ? true : nil, :onkeypress => "handleKeyPress(event)" }, act.json_value, nil %>
                <label class="govuk-label govuk-checkboxes__label" for="act_<%= act.serial_number %>">
                  <span class="govuk-!-font-weight-bold"><%= act.name %></span><br /> typ: <%= act.type %>, <%= act.delivery_date.present? ? "dátum doručenia: #{Date.parse(act.delivery_date.slice(0..9)).strftime('%d.%m.%Y')}" : "" %>, poradové číslo: <%= act.serial_number %>, počet listov: <%= act.raw["pageCount"] || 0 %>
                </label>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <%= render 'hidden_fields', form: f, current_step: 'acts' %>

      <button id="acts-submit-button" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" data-submit="true">
        Pokračovať ❯
      </button>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  let isAllChecked = false;

  function handleAll () {
    isAllChecked = !isAllChecked;
    document.querySelectorAll('input[type=checkbox]').forEach(el => el.checked = isAllChecked);
  }

  function handleKeyPress(e){
    if(e.keyCode === 13){
      e.preventDefault();

      document.getElementById('new_apps_or_sr_app_acts_submission_application_form').submit();
    }
  }
</script>
