<%= content_for(:headerline, 'Voľby do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application_form do |f| %>
      <%= f.hidden_field :step %>
      <%= f.hidden_field :full_name %>
      <%= f.hidden_field :pin %>
      <%= f.hidden_field :nationality %>

      <h1 class="govuk-heading-l">Adresa trvalého pobytu</h1>

      <div class="govuk-form-group<% if @application_form.errors[:street].any? %> govuk-form-group--error<% end %>">
        <%= f.label :street, 'Ulica a číslo', class: 'govuk-label' %>
        <span class="govuk-hint">Napríklad: Kaštieľska 2</span>
        <% @application_form.errors[:street].each do |error| %>
          <span class="govuk-error-message"><%= error %></span>
        <% end %>
        <%= f.text_field :street, class: 'govuk-input govuk-input--width-20', required: true %>
      </div>

      <div class="govuk-form-group<% if @application_form.errors[:pobox].any? %> govuk-form-group--error<% end %>">
        <%= f.label :pobox, 'PSČ', class: 'govuk-label' %>
        <span class="govuk-hint">Napríklad: 841 01</span>
        <% @application_form.errors[:pobox].each do |error| %>
          <span class="govuk-error-message"><%= error %></span>
        <% end %>
        <%= f.text_field :pobox, class: 'govuk-input govuk-input--width-5' %>
      </div>

      <div class="govuk-form-group<% if @application_form.errors[:municipality].any? %> govuk-form-group--error<% end %>">
        <%= f.label :municipality, 'Obec', class: 'govuk-label', required: true %>
        <% @application_form.errors[:municipality].each do |error| %>
          <span class="govuk-error-message"><%= error %></span>
        <% end %>
        <div id="municipality-field" class="govuk-input--width-20">
          <%= f.text_field :municipality, class: 'govuk-input govuk-input--width-20 ep-vote-app' %>
        </div>
      </div>

      <%= f.hidden_field :municipality_email %>
      <%= submit_tag 'Pokračovať', class: 'govuk-button' %>

    <% end %>
  </div>
</div>

<%= javascript_include_tag 'apps/ep_vote_app/libs.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'apps/ep_vote_app/slovak-municipalities.js', 'data-turbolinks-track': 'reload' %>
<script>
  var municipalities = Object.keys(SLOVAK_MUNICIPALITIES);

  accessibleAutocomplete({
    element: document.getElementById('municipality-field'),
    id: 'apps_ep_vote_app_application_form_municipality',
    displayMenu: 'overlay',

    source: municipalities,
    minLength: 2,
    required: true,
    name: 'apps_ep_vote_app_application_form[municipality]',
    defaultValue: '<%=j @application_form.municipality %>',
    tNoResults: function () {
      return 'Obec so zadaným názvom sa nenašla.';
    },
    onConfirm: function (value) {
      var email = SLOVAK_MUNICIPALITIES[value];
      if (email !== undefined) {
        document.getElementById('apps_ep_vote_app_application_form_municipality_email').value = email;
      }
    }
  })
</script>
