<%= content_for(:headerline, 'Žiadosť o hlasovací preukaz do volieb do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-xl">Hlasovací preukaz</h3>
    <p class="govuk-body-lead">Aby ste mohli hlasovať aj mimo trvalého bydliska, potrebujete hlasovací preukaz.</p>
    <%= form_for @application_form do |f| %>
      <%= f.hidden_field :step %>
      <div class="govuk-form-group<% if @application_form.errors[:delivery].any? %> govuk-form-group--error<% end %>">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h3 class="govuk-fieldset__heading">
              Ako si chcete prevziať hlasovací preukaz?
            </h3>
          </legend>
          <% @application_form.errors[:delivery].each do |error| %>
            <span class="govuk-error-message"><span class="govuk-visually-hidden">Chyba: </span><%= error %></span>
          <% end %>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= f.radio_button :delivery, 'post', class: "govuk-radios__input" %>
              <%= f.label :delivery_post, "Poštou", class: "govuk-label govuk-radios__label" %>
            </div>

            <div class="govuk-radios__item">
              <%= f.radio_button :delivery, 'person', class: "govuk-radios__input" %>
              <%= f.label :delivery_person, "Osobne si ho vyzdvihnem na úrade", class: "govuk-label govuk-radios__label" %>
            </div>
          </div>
        </fieldset>
      </div>

      <%= submit_tag 'Pokračovať', class: 'govuk-button' %>
    <% end %>
  </div>
</div>
