<%= content_for :title, build_page_title('Hlasovací preukaz', 'Voľby do európskeho parlamentu') %>
<%= content_for(:headerline, 'Voľby do európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for 'apps_ep_vote_app_application_form', :builder => AppFormBuilder, url: apps_ep_vote_app_application_forms_path do |f| %>
      <%= render 'apps/ep_vote_app/application_forms/back', form: f %>
      <%= f.hidden_field :step, value: 'delivery' %>
    <% end %>

    <h1 class="govuk-heading-xl">Potrebujete požiadať o hlasovací preukaz</h1>
    <p class="govuk-body-lead">Aby ste mohli v deň volieb voliť mimo vášho trvalého bydliska, musíte požiadať vašu obec o vydanie hlasovacieho preukazu – osobne alebo elektronicky. Hlasovací preukaz vás oprávňuje voliť z&nbsp;ktoréhokoľvek volebného okrsku v SR.</p>
      <%= form_for @application_form, :builder => AppFormBuilder, url: request.original_url do |f| %>
        <%= render 'components/error_summary', form: @application_form %>
        <%= f.hidden_field :step, value: 'delivery' %>
        <div class="govuk-form-group<% if @application_form.errors[:delivery].any? %> govuk-form-group--error<% end %>">
        <h3 class="govuk-heading-l">
          Ako prevezmete hlasovací preukaz?
        </h3>
        <%= f.error_message :delivery %>

        <div class="govuk-radios">
          <%= f.radio_button :delivery, 'post',
                            label: "Nechám si ho poslať poštou",
                            disabled: @application_form.request_sending_expired?,
                            hint: @application_form.request_sending_expired? ?
                                    "Termín na zaslanie žiadosti o hlasovací preukaz už uplynul." :
                                    "O hlasovací preukaz môžete požiadať elektronicky (emailom) a bude vám doručený na adresu uvedenú v žiadosti. #{format_remaining_days(@application_form.request_sending_remaining_days)}",
                            strong_label: true
          %>
          <%= f.radio_button :delivery, 'authorized_person',
                            label: "Vyzdvihne ho za mňa iná osoba",
                            disabled: @application_form.request_sending_expired?,
                            hint: @application_form.request_sending_expired? ?
                                    "Termín na zaslanie žiadosti o hlasovací preukaz už uplynul." :
                                    "Hlasovací preukaz za vás môže vyzdvihnúť aj iná osoba, ktorú uvediete v žiadosti. #{format_remaining_days(@application_form.request_sending_remaining_days)}",
                            strong_label: true
          %>
          <%= f.radio_button :delivery, 'person',
                            label: "Vyzdvihnem ho osobne na úrade",
                            disabled: @application_form.pickup_expired?,
                            hint:  @application_form.pickup_expired? ?
                                      "Termín na vyzdvihnutie hlasovacieho preukazu už uplynul." :
                                      "O hlasovací preukaz môžete požiadať osobne najneskôr posledný pracovný deň pred konaním volieb v úradných hodinách obce. Hlasovací preukaz vám vystavia na počkanie. #{format_remaining_days(@application_form.pickup_remaining_days)}",
                            strong_label: true
          %>
        </div>
      </div>
      <%= submit_tag 'Pokračovať', class: 'govuk-button' %>
    <% end %>
  </div>
</div>
