<%= content_for :title, build_page_title('Hlasovací preukaz', 'Voľby do Európskeho parlamentu') %>
<%= content_for(:headerline, 'Voľby do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-xl">Hlasovací preukaz</h3>
    <p class="govuk-body-lead">Aby ste mohli hlasovať aj mimo trvalého bydliska, potrebujete hlasovací preukaz.</p>
    <%= form_for @application_form do |f| %>
      <%= f.hidden_field :step %>
      <%= f.hidden_field :sk_citizen %>
      <div class="govuk-form-group<% if @application_form.errors[:delivery].any? %> govuk-form-group--error<% end %>">
            <h3 class="govuk-heading-l">
              Ako prevezmete hlasovací preukaz?
            </h3>
          <% @application_form.errors[:delivery].each do |error| %>
            <span class="govuk-error-message"><span class="govuk-visually-hidden">Chyba: </span><%= error %></span>
          <% end %>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= f.radio_button :delivery, 'post', class: "govuk-radios__input" %>
              <%= f.label :delivery_post, "Chcem ho dostať poštou", class: "govuk-label govuk-radios__label" %>
              <span class="govuk-hint govuk-radios__hint">O doručenie poštou možete požiadať do 3.5.</span>
            </div>

            <div class="govuk-radios__item">
              <%= f.radio_button :delivery, 'person', class: "govuk-radios__input" %>
              <%= f.label :delivery_person, "Osobne si ho vyzdvihnem na úrade", class: "govuk-label govuk-radios__label" %>
              <span class="govuk-hint govuk-radios__hint">Vyzdvihnúť preukaz na úrade si môžete najneskôr 24.5.</span>
            </div>
          </div>
      </div>

      <%= submit_tag 'Pokračovať', class: 'govuk-button' %>
    <% end %>
  </div>
</div>
