<%= content_for(:headerline, 'Voľby do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Gratulujeme k&nbsp;úspešnej žiadosti o&nbsp;hlasovací preukaz</h2>
    <p class="govuk-body-lead">Nezabudnite ísť voliť a voľte zodpovedne.</p>

    <%= form_tag '/', remote: true do  %>
      <h3 class="govuk-heading-m">Aktivujte si ešte notifikácie na email, aby ste na nič nezabudli.</h3>
      <div class="govuk-form-group">
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">

            <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british" aria-describedby="nationality-1-item-hint">
            <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="nationality-1">
              Chcem dostávať notifikácie k hlasovaciemu preukazu a voľbám
            </label>
            <span class="govuk-hint govuk-checkboxes__hint">
Zašleme Vám notifikáciu chvíľu pred vypršaním lehoty, aby ste sa uistili, že máte hlasovací preukaz. Taktiež Vám zašleme notifikáciu pred týmito a ďaľšími voľbami.
        </span>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="nationality-2">
              Chcem dostávať pravidelné novinky Návody.Digital
            </label>
            <span class="govuk-hint govuk-checkboxes__hint">
              Ak chcete byť informovaný o ďalších zlepšovákoch, ktoré pripravujeme, zvoľte aj túto možnosť. Neposielame žiadny spam, bude to užitočné.
            </span>
          </div>
        </div>
      </div>

      <% unless current_user.logged_in? %>
        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Emailová adresa pre notifikácie
          </label>
          <%= email_field_tag :email, nil, class: 'govuk-input govuk-input--width-20', autocomplete: :email  %>
        </div>
      <% end %>

      <%= submit_tag 'Chcem dostávať tieto notifikácie', class: 'govuk-button' %>
    <% end %>

    <p class="govuk-body">Ak sa Vám táto aplikácia páčila, na portáli Návody.Digital nájdete <%= link_to 'množstvo ďalších návodov' , root_path %> ako vyriešiť aj iné životné situácie, ktoré si vyžadujú kontakt so štátnou byrokraciou.</p>
  </div>
</div>
