<%= content_for :title, build_page_title('Osobné údaje', 'Voľby do Európskeho parlamentu') %>
<%= content_for(:headerline, 'Voľby do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application_form, :builder => AppFormBuilder do |f| %>
      <h1 class="govuk-heading-xl">Vaše osobné údaje</h1>
      <%= f.hidden_field :step %>
      <%= f.hidden_field :sk_citizen %>

      <%= f.text_field :full_name, class: 'govuk-input--width-20', label: 'Meno, priezvisko, titul', hint: 'Ako na občianskom preukaze. Napríklad: JUDr. Ján Mrvička', autocomplete: 'name' %>
      <%= f.text_field :pin, class: 'govuk-input--width-10', label: 'Rodné číslo', hint: 'Napríklad: 123456/1234' %>
      <%= f.text_field :nationality, class: 'govuk-input--width-10', label: 'Štátna príslušnosť' %>

      <%= f.submit 'Pokračovať'%>

    <% end %>
  </div>
</div>
