<%= content_for :title, build_page_title('Miesto voľby', 'Voľby do Európskeho parlamentu') %>
<%= content_for(:headerline, 'Voľby do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application_form, :builder => AppFormBuilder do |f| %>
      <%= f.hidden_field :step %>
      <div class="govuk-form-group<% if @application_form.errors[:place].any? %> govuk-form-group--error<% end %>">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-fieldset__heading">
              Kde plánujete ísť voliť?
            </h2>
          </legend>
          <span class="govuk-hint">Voľby do Európskeho parlamentu sa na Slovensku konajú v sobotu 25. mája 2019, od 7:00 do 22:00 h. Hlasovať je možné jedine osobne, v čase konania
          volieb.</span>

          <%= f.error_message :place %>

          <div class="govuk-radios">
            <%= f.radio_button :place, 'sk', label: "Na Slovensku, mimo trvalého bydliska", hint: "Ak si nie ste istý, či budete počas volieb v mieste trvalého bydliska, zvoľte si túto možnosť. Budete tak môcť hlasovať kdekoľvek na Slovensku." %>
            <%= f.radio_button :place, 'home', label: "Na Slovensku, v mieste trvalého bydliska"%>
            <%= f.radio_button :place, 'eu', label: "V zahraničí, kde mám povolený pobyt"%>
            <%= f.radio_button :place, 'world', label: "V zahraničí"%>
          </div>
        </fieldset>
      </div>

      <%= f.submit 'Pokračovať' %>
    <% end %>
  </div>
</div>
