<%= content_for(:headerline, 'Žiadosť o hlasovací preukaz do volieb do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application_form do |f| %>
      <%= f.hidden_field :step %>
      <div class="govuk-form-group<% if @application_form.errors[:place].any? %> govuk-form-group--error<% end %>">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-fieldset__heading">
              Kde plánujete ísť voliť?
            </h2>
          </legend>
          <% @application_form.errors[:place].each do |error| %>
            <span class="govuk-error-message"><span class="govuk-visually-hidden">Chyba: </span><%= error %></span>
          <% end %>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= f.radio_button :place, 'sk', class: "govuk-radios__input" %>
              <%= f.label :place_sk, "Na Slovensku, mimo trvalého bydliska.", class: "govuk-label govuk-radios__label" %>
              <span class="govuk-hint govuk-radios__hint">Ak si nie ste istý, či budete počas volieb v mieste trvalého pobytu, zvoľte si túto možnosť. Budete tak môcť hlasovať kdekoľvek na Slovensku.</span>
            </div>

            <div class="govuk-radios__item">
              <%= f.radio_button :place, 'home', class: "govuk-radios__input" %>
              <%= f.label :place_home, "Na Slovensku, v mieste trvalého bydliska.", class: "govuk-label govuk-radios__label" %>
            </div>

            <div class="govuk-radios__item">
              <%= f.radio_button :place, 'eu', class: "govuk-radios__input" %>
              <%= f.label :place_eu, "V zahraničí, kde mám povolený pobyt.", class: "govuk-label govuk-radios__label" %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :place, 'world', class: "govuk-radios__input" %>
              <%= f.label :place_world, "V zahraničí.", class: "govuk-label govuk-radios__label" %>
            </div>
          </div>
        </fieldset>
      </div>

      <%= submit_tag 'Pokračovať', class: 'govuk-button' %>
    <% end %>
  </div>
</div>
