<%= content_for :title, build_page_title('Zaslanie žiadosti', 'Voľby do Európskeho parlamentu') %>
<%= content_for(:headerline, 'Voľby do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Zaslanie žiadosti na úrad</h2>


    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Upozornenie</span>
        Emailové adresy obcí je veľmi problematické získať. Uistite sa preto, či dostanete potvrdenie o&nbsp;prijatí žiadosti. Ak potvrdenie nedostanete, kontaktujte obec telefonicky alebo osobne.
      </strong>
    </div>

    <h3 class="govuk-heading-l">Pokyny</h3>
    <ol class="govuk-list govuk-list--number govuk-!-font-size-24">
      <li class="govuk-!-margin-bottom-7">
    <% if @application_form.municipality_email.present? %>
      Otvorte <%=
        mail_to @application_form.municipality_email, 'pripravenú žiadosť v&nbsp;emailovom klientovi'.html_safe, target: '_blank',
                body: @application_form.email_body,
                subject: 'Žiadosť o hlasovací preukaz do volieb do Európskeho parlamentu 2019'
      %>
      alebo ju manuálne <a href="#" onclick="document.getElementById('conditional-manual').style.display = 'block'; return false;">skopírujte</a>.
    <% end %>
    <div id="conditional-manual"<% if @application_form.municipality_email.present? %> style="display: none;"<% end %>>
      <p class="govuk-body govuk-!-margin-top-5">Skopírujte text žiadosti.</p>
      <div class="govuk-form-group">
        <textarea onclick="this.focus();this.select();" rows="8" class="govuk-textarea"><%= @application_form.email_body %></textarea>
      </div>
    </div>
      </li>
      <li class="govuk-!-margin-bottom-7">Odošlite na emailovú adresu obce<% if @application_form.municipality_email.present? %> <strong><%= @application_form.municipality_email %></strong><% end %>.</li>
      <li>A potom <%= link_to 'pokračujte ďalej', end_apps_ep_vote_app_application_forms_path %>.
        </li>
    </ol>

  </div>
</div>
