<%= content_for :title, build_page_title('Hlasovanie bez trvalého pobytu', 'Voľby do európskeho parlamentu') %>
<%= content_for(:headerline, 'Voľby do európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for 'apps_ep_vote_app_application_form', :builder => AppFormBuilder, url: apps_ep_vote_app_application_forms_path do |f| %>
      <%= render 'apps/ep_vote_app/application_forms/back', form: f %>
      <%= f.hidden_field :step, value: 'sk_citizen_world_resident' %>
    <% end %>

    <h1 class="govuk-heading-xl">Ak máte trvalý pobyt mimo EÚ, môžete voliť v ktoromkoľvek volebnom okrsku na Slovensku</h1>
    <p class="govuk-body-m">Ak nemáte trvalý pobyt na Slovensku ani v inom štáte EÚ, môžete prísť voliť kdekoľvek na území Slovenska. Potrebujete ale predložiť <strong>slovenský cestovný pas</strong> a <strong><a href="https://www.minv.sk/swift_data/source/verejna_sprava/volby_a_referendum/120_ep/ep24_3tav/WEP24_V208.docx">čestné vyhlásenie o trvalom pobyte v cudzine</a></strong>.</p>
    <p class="govuk-body-m">Okrsková volebná komisia vás dopíše do zoznamu voličov, čo zaznamená aj vo vašom slovenskom cestovnom doklade a čestné vyhlásenie o trvalom pobyte v cudzine pripojí k zoznamu voličov. </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'apps/ep_vote_app/application_forms/subscribe' %>
  </div>
</div>
