<%= content_for :title, build_page_title('Ste občan SR?', 'Voľby do Európskeho parlamentu') %>
<%= content_for(:headerline, 'Voľby do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application_form, :builder => AppFormBuilder do |f| %>
      <%= f.hidden_field :step %>
      <%= f.radios :sk_citizen, 'Ste občan Slovenskej republiky?', inline: true do %>
        <%= f.radio_button :sk_citizen, 'yes', label: "Áno" %>
        <%= f.radio_button :sk_citizen, 'no', label: "Nie" %>
      <% end %>

      <%= f.submit 'Pokračovať' %>
    <% end %>
  </div>
  <% params = @application_form.finish_result %>
  <%= link_to 'Finish', @application_form.callback + "?#{params.to_query}", method: :patch %>
</div>
