<%= content_for(:headerline, @journey.title) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="sdn-timeline">
      <ol start=0 class="sdn-timeline__list">
        <li class="sdn-timeline__step sdn-timeline__step--done">
          <div class="sdn-timeline__bullet"></div>
          <% if @step == nil %>
            <strong>
              <%= link_to 'Úvod', user_journey_path(id: @user_journey.id), class: 'sdn-timeline__link' %>
            </strong>
          <% else %>
            <%= link_to 'Úvod', user_journey_path(id: @user_journey.id), class: 'sdn-timeline__link' %>
          <% end %>
        </li>
        <% @steps.each do |step| %>
          <li class="sdn-timeline__step sdn-timeline__step--<%= @step_status.status_for(step) %>">
            <div class="sdn-timeline__bullet"></div>
            <% if @step == step %>
              <strong>
                <%= link_to step.title, user_journey_path(id: @user_journey.id, step_id: step.id), class: 'sdn-timeline__link' %>
              </strong>
            <% else %>
              <%= link_to step.title, user_journey_path(id: @user_journey.id, step_id: step.id), class: 'sdn-timeline__link' %>
            <% end %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @title %></h1>

    <div class="govuk-body">
      <%= raw @text %>
    </div>

    <% if @step %>
      <div class="govuk-body">
        <h2>Zoznam podúloh</h2>
        <div class="govuk-checkboxes">
          <% @step.tasks.each do |task| %>
            <div class="govuk-checkboxes__item">
              <% if @step_status.complete?(step: @step, task: task) %>
                <%= check_box_with_action mark_user_task_as_incomplete_path(user_journey_id: @user_journey.id, step_id: @step.id, task_id: task.id), true do |form| %>
                  <%= render "user_journeys/tasks/#{task.type.underscore}", form: form, task: task %>
                <% end %>
              <% else %>
                <%= check_box_with_action mark_user_task_as_complete_path(user_journey_id: @user_journey.id, step_id: @step.id, task_id: task.id), false do |form| %>
                  <%= render "user_journeys/tasks/#{task.type.underscore}", form: form, task: task %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
