<%= form_for @application_form, :builder => AppFormBuilder, url: request.original_url do |f| %>
  <%= f.hidden_field :cin, value: @application_form.cin %>
  <%= f.hidden_field :json_form_data, value: @application_form.form_data.to_json %>
  <%= f.hidden_field :current_stakeholder_index, value: index %>
  <%= f.hidden_field :current_step, value: 'edit' %>
  <%= f.hidden_field :go_to_summary, value: true %>
  <%= f.hidden_field :back, value: false %>

  <button id="submit-edit-button" type="submit" data-module="govuk-button" data-submit="true">
    Upraviť
  </button>
<% end %>
