<%= render partial: 'header' %>

<%#= form_tag @next_stakeholder_present ? stakeholder_identifier_apps_or_sr_app_stakeholders_identifiers_path(:n => @stakeholder_index + 1) : data_summary_apps_or_sr_app_stakeholders_identifiers_path, id: "form" do %>
<%= form_for @application_form, :builder => AppFormBuilder, url: request.original_url do |f| %>
  <%= render 'apps/or_sr_app/stakeholders_identifiers/back', form: f %>

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h2 class="govuk-fieldset__heading">
      Dopnenie údajov (<%= @application_form.current_stakeholder_index + 1 %>/<%= @application_form.form_data.stakeholders_with_missing_identifiers.size %>)
    </h2>
  </legend>
  <br />

  <p>Boli <%= t('views.stakeholders_found', :count => @application_form.form_data.stakeholders_with_missing_identifiers.size) %> je potrebné vykonať doplnenie údajov.</p>
  <br />

  <%#= render 'components/error_summary', form: @application_form %>

  <fieldset class="govuk-fieldset">
    <legend id="stakeholder" class="govuk-fieldset__legend">
      <p class="govuk-heading-l"><%= @application_form.stakeholder.name %></p>
      <p>Spoločník</p>
    </legend>

    <div id="identifiers" class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="identifier">
        Rodné číslo
      </label>
      <%= f.text_field :stakeholder_identifier %>
    </div>

    <%= f.hidden_field :json_form_data, value: @application_form.form_data.to_json %>
    <%= f.hidden_field :current_stakeholder_index, value: @application_form.current_stakeholder_index %>
  </fieldset>

  <button id="submit-button" class="govuk-button govuk-!-margin-top-6" type="submit" data-module="govuk-button" data-submit="true">
    Pokračovať ❯
  </button>
<% end %>
