<%= render partial: 'header' %>

<div id="or-sr-identifiers" class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_for @application_form, :builder => AppFormBuilder, url: stakeholder_identifier_apps_or_sr_app_stakeholders_identifiers_path do |f| %>
      <%= render 'apps/or_sr_app/stakeholders_identifiers/back', form: f %>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h2 class="govuk-fieldset__heading">
          Doplnenie údajov <%= ("(#{@application_form.current_stakeholder_index + 1}/#{@application_form.form_data.stakeholders_with_missing_identifiers.size})") if @application_form.form_data.stakeholders_with_missing_identifiers.size > 1 %>
        </h2>
      </legend>
      <br />

      <p>Na výpise z obchodného registra sme našli <%= @application_form.form_data.stakeholders_with_missing_identifiers.size %> <%= t('views.stakeholders_found', :count => @application_form.form_data.stakeholders_with_missing_identifiers.size) %> je potrebné vykonať doplnenie údajov.</p>
      <br />

      <fieldset class="govuk-fieldset">
        <legend id="stakeholder" class="govuk-fieldset__legend">
          <p class="govuk-heading-l"><%= @application_form.stakeholder.name %></p>

          <div class="address-wrap">
            <div>
              <span class="govuk-heading-m"><%= @application_form.stakeholder.address.formatted %></span>
              <span id="address-helper">Adresa nie je aktuálna?</span>
            </div>
            <p id="address-helper-text">V rámci aplikácie si viete bez poplatku zmeniť výhradne identifikačné údaje. Ak si želáte zmeniť napr. adresu, musíte tak urobiť prostredníctvom <a href="/zivotne-situacie/zapis-identifikacnych-udajov-do-or/krok/vytvorit-navrh-na-zapis-do-or#basic-flow">formulára</a>, ktorý je spoplatnený.</p>
          </div>

          <p>Spoločník</p>

          <span class="govuk-hint">Vklad: <%= "#{@application_form.stakeholder&.deposit_entries&.first&.deposit} #{@application_form.stakeholder&.deposit_entries&.first&.deposit_currency&.code}" %></span>
        </legend>

        <%= render 'components/error_summary', form: @application_form %>

        <% if @application_form.stakeholder.is_person? %>
          <%= render 'apps/or_sr_app/stakeholders_identifiers/stakeholder_person', form: f %>
        <% else %>
          <%= render 'apps/or_sr_app/stakeholders_identifiers/stakeholder_cb', form: f %>
        <% end %>

        <%= render 'apps/or_sr_app/stakeholders_identifiers/hidden_fields', form: f, current_step: 'save' %>
      </fieldset>
      
      <button id="submit-button" class="govuk-button govuk-!-margin-top-6" type="submit" data-module="govuk-button" data-submit="true">
        Pokračovať ❯
      </button>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  const addressToggle = document.getElementById('address-helper');
  const toggleAddressCollapsibleVisibility = () => {
    const addressCollapsible = document.getElementById('address-helper-text');

    if (addressCollapsible.style.display === 'none'){
      addressCollapsible.style.display = 'block';
    } else {
      addressCollapsible.style.display = 'none';
    }
  }

  toggleAddressCollapsibleVisibility();

  addressToggle.addEventListener('click', () => {
    toggleAddressCollapsibleVisibility();
  })
</script>
