<%= render partial: 'header' %>

<%= form_for @application_form, :builder => AppFormBuilder, url: stakeholder_identifier_apps_or_sr_app_stakeholders_identifiers_path do |f| %>
  <%= render 'apps/or_sr_app/stakeholders_identifiers/back', form: f %>

  <%= render 'apps/or_sr_app/stakeholders_identifiers/hidden_fields', form: f, current_step: 'xml' %>
<% end %>

<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <h2 class="govuk-fieldset__heading">
    Generovanie podania
  </h2>
</legend>
<br />

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <strong class="govuk-fieldset__heading">
    Dáta k podaniu zmeny v Obchodnom registri sú pripravené.
  </strong>
</legend>
<br />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half-from-desktop" id="download-file">
    <p>Stiahnite si vygenerovaný formulár na bezpečné miesto do Vášho počítača a pokračujte podľa návodu.</p>
    <p>Formulár použijete neskôr na portáli slovensko.sk ako prílohu k podaniu.</p>

    <%= form_for @application_form, :builder => AppFormBuilder, url: generate_xml_form_apps_or_sr_app_stakeholders_identifiers_path(format: 'xml') do |f| %>
      <%= render 'apps/or_sr_app/stakeholders_identifiers/hidden_fields', form: f, current_step: 'xml' %>

        <button id="get-xml-button" class="govuk-button govuk-!-margin-top-6" type="submit" data-module="govuk-button" data-submit="true">
          Stiahnúť formulár (XML)
        </button>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-half-from-desktop" id="send-file">
    <p>Formulár Vám môžeme zaslať aj priamo na emailovú adresu aj s pokynmi ako pokračovať ďalej na portáli slovensko.sk.</p>

    <div class="govuk-form-group">
      <label class="govuk-label" for="email">
        <b>Vaša emailová adresa</b>
      </label>
      <input class="govuk-input" id="email" name="temail" type="email" value="<%= current_user.logged_in? ? current_user.email : nil %>" >

      <button id="get-email-button" class="govuk-button govuk-!-margin-top-6" type="submit" data-module="govuk-button" data-submit="true">
        Odoslať na email
      </button>
    </div>
  </div>
</div>

<div id="continue">
  <p>Pripravený formulár je nutné vložiť na portál slovensko.sk. Pokračujte podľa návodu v ďalšom kroku.</p>
  <%= link_to "Pokračovať na návod", root_path, class: 'govuk-button govuk-!-margin-top-6' %>
</div>

<script type="text/javascript" charset="utf-8">
  const emailButtonId = 'get-email-button';
  const xmlButtonId = 'get-xml-button';

  const setVisibility = () => {
    document.querySelector('#continue').style.display = 'block';
  }

  document.querySelectorAll('#get-email-button, #get-xml-button').forEach(item => {
    item.addEventListener('click', () => {
      setVisibility();
    })
  })
</script>
