
<%= form_with(model: [:admin, task.step.journey, task.step, task], local: true, builder: AdminFormBuilder) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
    </div>
  <% end %>

  <%= form.number_field :position %>
  <%= form.text_field :title %>
  <%= form.select :type, options_for_select(Task.subclasses.map{|task| task.name}, :selected => task.type)%>
  <%= form.text_field :url %>
  <%= form.text_field :url_title %>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  <%= javascript_include_tag 'tasks' %>

<% end %>
