<p id="notice"><%= notice %></p>

<%= render 'breadcrumbs', crumbs: [
    ['Journeys', admin_journeys_url],
    [@journey.title, admin_journey_url(@journey)],
    ['Steps', admin_journey_steps_url(@journey)],
    [@step.title, admin_journey_step_url(@journey, @step)],
    ['Tasks', admin_journey_step_tasks_path(@journey, @step)],
  ], current: @task.title %>


<p>
  <strong>Step:</strong>
  <%= @task.step %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.type %>
</p>

<p>
  <strong>Url:</strong>
  <%= @task.url %>
</p>

<%= link_to 'Edit', edit_admin_journey_step_task_path(@task.step.journey, @task.step, @task) %> |
<%= link_to 'Back', admin_journey_step_tasks_path(@task.step.journey, @task.step) %>
