<!DOCTYPE html>
<html>
<head>
<title>Žiadosť o voľbu poštou pre voľby do Národnej rady Slovenskej republiky v roku 2020</title>
<style>
  body {
    font-size: 60px;
    font-family: Times, 'Times New Roman', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding-left: 80px;
    padding-right: 80px;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: 70px;
    padding: 0 300px
  }

  .center {
    text-align: center;
  }

  .right {
    float: right;
  }

  h1 {
    text-align: center;
  }

  table {
    width: 100%;
  }

  td {
    padding: 40px 5px 0 0;
  }

  .label {
    width: 20%;
  }

  .label-2 {
    width: 10%;
  }

  .user-input {
    width: 80%;
    border-bottom: 1px dotted black;
    text-transform: uppercase;
  }

  .user-input-2 {
    width: 40%;
  }

  .table-label {
    padding-bottom: 10px;
  }

  .meta {
    clear: both;
    padding-top: 150px;
  }
</style>
</head>
<body>
  <strong class="right">Žiadosť vyplňte veľkými písmenami.</strong>
  <br />
  <br />
  <h1>Žiadosť<br> o voľbu poštou<br> pre voľby do Národnej rady Slovenskej republiky v roku 2020</h1>
  <br />
  <div class="right address">
    Ministerstvo vnútra Slovenskej republiky<br>
    odbor volieb, referenda a politických strán<br>
    Drieňová 22<br>
    826 86 Bratislava 29<br>
    SLOVAK REPUBLIC
  </div>
  <br />
  <br />
  <br />
  <p class="meta">Podľa § 59 ods. 1 zákona č. 180/2014 Z. z. o podmienkach výkonu volebného práva a o zmene a doplnení niektorých zákonov žiadam o voľbu poštou pre voľby do Národnej rady Slovenskej republiky v roku 2020 a o zaslanie hlasovacích lístkov a obálok na adresu:</p>
  <br />
  <table>
    <tr>
      <td class="label">Meno:</td>
      <td class="user-input"><%= @data[:name] %></td>
    </tr>
    <tr>
      <td class="label">Priezvisko:</td>
      <td class="user-input"><%= @data[:surname] %></td>
    </tr>
    <tr>
      <td class="label">Rodné priezvisko:</td>
      <td class="user-input"><%= @data[:maiden_name] %></td>
    </tr>
    <tr>
      <td class="label">Rodné číslo:</td>
      <td class="user-input"><%= @data[:pin] %></td>
    </tr>
    <tr>
      <td class="label">Ulica:</td>
      <td class="user-input"><%= @data[:delivery_street] %></td>
    </tr>
    <tr>
      <td class="label">Číslo domu:</td>
      <td class="user-input"><%= @data[:delivery_house_number] %></td>
    </tr>
    <tr>
      <td class="label">Obec:</td>
      <td class="user-input"><%= @data[:delivery_municipality] %></td>
    </tr>
    <tr>
      <td class="label">PSČ:</td>
      <td class="user-input"><%= @data[:delivery_pobox] %></td>
    </tr>
    <tr>
      <td class="label">Štát:</td>
      <td class="user-input"><%= @data[:delivery_country] %></td>
    </tr>
  </table>

  <br />
  <br />
  Prílohy:<br />
  - čestné vyhlásenie voliča, že nemá trvalý pobyt na území Slovenskej republiky.<br />
  - fotokópia časti cestovného dokladu Slovenskej republiky s osobnými údajmi voliča alebo fotokópia osvedčenia o štátnom občianstve Slovenskej republiky voliča.

  <br />
  <br />
  <table>
    <tr>
      <td class="label label-2">V:</td>
      <td class="user-input user-input-2" colspan="3"></td>
    </tr>
    <tr>
      <td class="label label-2">Dátum:</td>
      <td class="user-input user-input-2"></td>
      <td class="label label-2" style="padding-left: 150px;">Podpis:</td>
      <td class="user-input user-input-2"></td>
    </tr>
  </table>
</body>
</html>
