<%= content_for :title, build_page_title('Hlasovací preukaz', 'Parlamentne Voľby') %>
<%= content_for(:headerline, 'Parlamentne Voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-xl">Hlasovací preukaz</h3>
    <p class="govuk-body-lead">Aby ste mohli hlasovať aj mimo trvalého bydliska, potrebujete hlasovací preukaz.</p>
    <%= form_for @application_form, :builder => AppFormBuilder, url: :delivery_apps_parliament_vote_app_application_forms do |f| %>
      <%= f.hidden_field :step %>
      <%= f.hidden_field :sk_citizen %>
      <div class="govuk-form-group<% if @application_form.errors[:delivery].any? %> govuk-form-group--error<% end %>">
        <h3 class="govuk-heading-l">
          Ako prevezmete hlasovací preukaz?
        </h3>
        <%= f.error_message :delivery %>

        <div class="govuk-radios">
          <%= f.radio_button :delivery, 'post', label: "Chcem ho dostať poštou", hint: "O doručenie poštou možete požiadať do 3.5.", strong_label: true%>
          <%= f.radio_button :delivery, 'person', label: "Osobne si ho vyzdvihnem na úrade", hint: "Vyzdvihnúť preukaz na úrade si môžete najneskôr 24.5.", strong_label: true%>
          <%= f.radio_button :delivery, 'representative_person', label: "Vyzdvihne ho splnomocnena osoba", hint: "Vyzdvihnúť preukaz na úrade si môžete najneskôr 24.5.", strong_label: true%>
        </div>
      </div>

      <%= submit_tag 'Pokračovať', class: 'govuk-button' %>
    <% end %>
  </div>
</div>
