<%= content_for :title, build_page_title('Hlasovanie v zahraničí', 'Parlamentné voľby') %>
<%= content_for(:headerline, 'Parlamentné voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Pre voľbu zo zahraničia je potrebné požiadať o voľbu poštou</h1>

    <ol class="govuk-list govuk-list--number govuk-!-font-size-24">
      <li class="govuk-!-margin-bottom-4">
        Otvorte
        <%= mail_to @application_form.minv_email, 'pripravenú žiadosť v emailovom klientovi'.html_safe,
          target: '_blank',
          body: @application_form.world_abroad_resident_email_body,
          subject: 'Žiadosť o voľbu poštou.'
        %>
        alebo ju manuálne
        <a href="#" onclick="document.getElementById('conditional-manual').style.display = 'block'; return false;">skopírujte</a>.
        <div id="conditional-manual" <% unless Rails.env.test? %> style="display: none;"<% end %>>
          <p class="govuk-body govuk-!-margin-top-5">Skopírujte text žiadosti.</p>
          <div class="govuk-form-group">
            <textarea onclick="this.focus();this.select();" rows="8" class="govuk-textarea"><%= @application_form.world_abroad_resident_email_body %></textarea>
          </div>
        </div>
      </li>
      <li class="govuk-!-margin-bottom-4">
        K žiadosti pripojte fotokópiu časti cestovného dokladu Slovenskej republiky s osobnými údajmi voliča alebo fotokópiu osvedčenia o štátnom občianstve Slovenskej republiky.
      </li>
      <li class="govuk-!-margin-bottom-4">
        Odošlite na emailovú adresu
        <strong><%= @application_form.minv_email %></strong>.
      </li>
    </ol>

    <br>

    <p>Zákon umožňuje voliť zo zahraničia občanom, ktorí nemajú trvalý pobyt na území Slovenskej republiky a v čase volieb sa zdržiavajú mimo jej územia.</p>

    <p>Žiadosť o voľbu poštou pre voľby do Národnej rady Slovenskej republiky je potrebné doručiť na Ministerstvo Vnútra do 50 dní pred dňom konania volieb.

    <p>K žiadosti je potrebné pripojiť fotokópiu časti cestovného dokladu Slovenskej republiky s osobnými údajmi voliča alebo fotokópiu osvedčenia o štátnom občianstve Slovenskej republiky a pridať čestné prehlásenie o trvalom pobyte v zahraničí.</p>

    <p>Najneskôr <strong>35 dní pred dňom konania volieb</strong> Vám bude kompetentným úradom zaslaná obálka, hlasovacie lístky, návratová obálka a poučenie o spôsobe hlasovania.</p>

    <p>Volič krúžkuje maximálne 4 kandidátov a to len na jednom hlasovacom lístku. Volič vkladá hlasovací lístok do obálky a zalepenú obálku vkladá do návratnej obálky, ktorú odosiela. Poštovné hradí volič.
    V prípade, ak ide o občana s trvalým pobytom mimo územia SR, doručuje hlasovanie MV SR. V prípade, ak ide o občana s trvalým pobytom na území SR, doručuje hlasovanie obci v mieste trvalého bydliska.</p>

    <p>Volič musí doručiť obálku s hlasovacím lístkom najneskôr <strong>posledný pracovný deň predo dňom konania volieb</strong>. Na obálky doručené po tomto termíne sa neprihliada.</p>

  </div>
</div>
