<%= content_for :title, build_page_title('Miesto voľby', 'Parlamentné voľby') %>
<%= content_for(:headerline, 'Parlamentné voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application_form, :builder => AppFormBuilder, url: request.original_url do |f| %>
      <%= f.hidden_field :step %>
      <%= f.radios :permanent_resident, 'Máte trvalý pobyt na Slovensku?' do %>
        <p class="govuk-body-lead">Na to aby ste nemali trvalý pobyt na Slovensku, museli ste si ho odhlásiť.</p>
        <%= f.radio_button :permanent_resident, 'yes', label: "Áno",  hint: "O odhlásenie trvalého pobytu z dôvodu presťahovania do zahraničia treba požiadať. Ak ste to neurobili, stále ste prihlásený na trvalý pobyt na Slovensku a&nbsp;zvoľte túto možnosť.".html_safe %>
        <%= f.radio_button :permanent_resident, 'no', label: "Nie"%>
      <% end %>

      <%= f.submit 'Pokračovať' %>
    <% end %>
  </div>
</div>
