<div class="govuk-radios govuk-radios--conditional submission-email-radios" data-module="radios">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <p class="heading-small govuk-!-margin-top-0">Kam chcete poslať email?</p>
    </legend>
    <div class="govuk-radios__item">
      <%= radio_button_tag :prefer_email_field, false, true, { class: 'govuk-radios__input ', id: :prefer_email_field_false, 'data-aria-controls': 'conditional-prefer_email_field_false' } %>
      <%= label_tag :prefer_email_field_false, "Odoslať na prihlásený email (#{current_user.email})", class: 'govuk-label govuk-radios__label' %>
    </div>

    <div class="govuk-radios__conditional" id="conditional-prefer_email_field_false"></div>

    <div class="govuk-radios__item">
      <%= radio_button_tag :prefer_email_field, true, false, { class: 'govuk-radios__input', id: :prefer_email_field_true, 'data-aria-controls': 'conditional-prefer_email_field_true' } %>
      <%= label_tag :prefer_email_field_true, 'Odoslať na iný email', class: 'govuk-label govuk-radios__label' %>
    </div>

    <div class="govuk-radios__conditional" id="conditional-prefer_email_field_true" data-aria-controls="conditional-prefer_email_field_true">
      <%= render partial: 'shared/email_simple', locals: { form: form, f: f, root: 'notification_subscriptions' } %>
    </div>
  </fieldset>
</div>
