<div class="sdn-timeline" data-module="sdn-timeline">
  <ol start=0 class="sdn-timeline__list">
    <li class="sdn-timeline__step sdn-timeline__step--done">
      <% if @current_step == nil %>
        <div class="sdn-timeline__bullet sdn-timeline__bullet--positioned sdn-timeline__bullet--done"></div>
        <strong>
          <%= link_to 'Úvod', @user_journey, class: 'sdn-timeline__link sdn-timeline__link--selected' %>
        </strong>
      <% else %>
        <div class="sdn-timeline__bullet sdn-timeline__bullet--positioned sdn-timeline__bullet--done"></div>
        <%= link_to 'Úvod', @user_journey, class: 'sdn-timeline__link' %>
      <% end %>
    </li>
    <% @user_journey.journey.steps.each do |step| %>
      <% user_step = @user_step_by_steps[step] %>
      <%
        modifier = user_step_timeline_status_modifier(user_step)
      %>
      <li class="sdn-timeline__step sdn-timeline__step--<%= modifier %>">
        <div class="sdn-timeline__bullet sdn-timeline__bullet--positioned sdn-timeline__bullet--<%= modifier %> js-sdn-timeline__bullet"></div>
        <% if @current_step == step %>
          <strong>
            <%= link_to step.title, [@user_journey, step], class: 'sdn-timeline__link' %>
          </strong>
        <% else %>
          <%= link_to step.title, [@user_journey, step], class: 'sdn-timeline__link' %>
        <% end %>
        <div class="sdn-timeline-dropdown">
          <div class="sdn-timeline-dropdown__list">
            <%= link_to user_journey_step_path(user_journey_id: @user_journey.id, id: step, status: 'done'), method: :patch, class: user_step_switch_class(user_step, 'done') do %>
              <div class="sdn-timeline-dropdown__bullet sdn-timeline__bullet sdn-timeline__bullet--done"></div>
              Ukončená
            <% end %>
            <%= link_to user_journey_step_path(user_journey_id: @user_journey.id, id: step, status: 'waiting'), method: :patch, class: user_step_switch_class(user_step, 'waiting') do %>
              <div class="sdn-timeline-dropdown__bullet sdn-timeline__bullet sdn-timeline__bullet--waiting"></div>
              Prebieha vybavovanie
              <div class="sdn-timeline-dropdown__additional-info">Čakám na úrad (lehota 25 dní)</div>
            <% end %>
            <%= link_to user_journey_step_path(user_journey_id: @user_journey.id, id: step, status: 'not_started'), method: :patch, class: user_step_switch_class(user_step, 'not_started') do %>
              <div class="sdn-timeline-dropdown__bullet sdn-timeline__bullet sdn-timeline__bullet--not-done"></div>
              Nezačatá
            <% end %>
            <%= link_to user_journey_step_path(user_journey_id: @user_journey.id, id: step, status: 'started'), method: :patch, class: user_step_switch_class(user_step, 'started') do %>
              <div class="sdn-timeline-dropdown__bullet sdn-timeline__bullet sdn-timeline__bullet--in-progress"></div>
              Rozpracovaná
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ol>
</div>
