<div class="sdn-timeline">
  <ol start=0 class="sdn-timeline__list">
    <li class="sdn-timeline__step sdn-timeline__step--done">
      <% if @current_step == nil %>
        <div class="sdn-timeline__bullet sdn-timeline__bullet--positioned sdn-timeline__bullet--done"></div>
        <strong>
          <%= link_to 'Úvod', @user_journey, class: 'sdn-timeline__link sdn-timeline__link--selected' %>
        </strong>
      <% else %>
        <div class="sdn-timeline__bullet sdn-timeline__bullet--positioned sdn-timeline__bullet--done"></div>
        <%= link_to 'Úvod', @user_journey, class: 'sdn-timeline__link' %>
      <% end %>
    </li>
    <% @user_journey.journey.steps.each do |step| %>
      <% user_step = @user_step_by_steps[step] %>
      <%
        modifier = user_step_timeline_status_modifier(user_step)
        modifier = 'nothing' if @current_step == step
      %>
      <li class="sdn-timeline__step sdn-timeline__step--<%= modifier %>">
        <div class="sdn-timeline__bullet sdn-timeline__bullet--positioned sdn-timeline__bullet--<%= modifier %> %>" onClick="this.parentNode.classList.toggle('sdn-timeline__step--dropdown-active');"></div>
        <% if @current_step == step %>
          <strong>
            <%= link_to step.title, [@user_journey, step], class: 'sdn-timeline__link' %>
          </strong>
        <% else %>
          <%= link_to step.title, [@user_journey, step], class: 'sdn-timeline__link' %>
        <% end %>
        <div class="sdn-timeline-dropdown">
          <div class="sdn-timeline-dropdown__list">
            <%= link_to complete_user_journey_step_path(@user_journey, step), method: :post, class: "sdn-timeline-dropdown__option" do %>
              <div class="sdn-timeline-dropdown__bullet sdn-timeline__bullet sdn-timeline__bullet--done"></div>
              Ukončená
            <% end %>
            <a class="sdn-timeline-dropdown__option">
              <div class="sdn-timeline-dropdown__bullet sdn-timeline__bullet sdn-timeline__bullet--waiting"></div>
              Prebieha vybavovanie
              <div class="sdn-timeline-dropdown__additional-info">Čakám na úrad (lehota 25 dní)</div>
            </a>
            <a class="sdn-timeline-dropdown__option sdn-timeline-dropdown__option--selected">
              <div class="sdn-timeline-dropdown__bullet sdn-timeline__bullet sdn-timeline__bullet--in-progress"></div>
              Nezačatá
            </a>
            <a class="sdn-timeline-dropdown__option">
              <div class="sdn-timeline-dropdown__bullet sdn-timeline__bullet sdn-timeline__bullet--not-done"></div>
              Rozpracovaná
            </a>
          </div>
        </div>
      </li>
    <% end %>
  </ol>
</div>
