<%= content_for :title, build_page_title('V prezidentských voľbách nemôžete voliť', 'Prezidentské voľby') %>
<%= content_for(:headerline, 'Prezidentské voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for 'apps_president_vote_app_application_form', :builder => AppFormBuilder, url: apps_president_vote_app_application_forms_path do |f| %>
      <%= render 'apps/president_vote_app/application_forms/back', form: f %>
      <%= f.hidden_field :step, :value => "non_sk_nationality" %>
    <% end %>

    <h1 class="govuk-heading-xl">V prezidentských voľbách nemôžete voliť</h1>
    <p class="govuk-body-lead">
      Vo voľbách prezidenta Slovenskej republiky (prezidentské voľby) môžu voliť len občania Slovenskej republiky.
    </p>

    <%= render 'apps/president_vote_app/application_forms/subscribe' %>
  </div>
</div>
