<%= content_for :title, build_page_title('Miesto voľby', 'Prezidentské voľby') %>
<%= content_for(:headerline, 'Prezidentské voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @application_form, :builder => AppFormBuilder do |f| %>
      <%= render 'apps/president_vote_app/application_forms/back', form: f %>
      <%= render 'components/error_summary', form: @application_form %>
      <%= f.hidden_field :step %>
      <% if @application_form.first_round_expired? %>
        <% hint = 'Druhé kolo prezidentských volieb sa na Slovensku koná 6. apríla od 7:00 do 22:00. Hlasovať je možné jedine osobne na území Slovenska.' %>
        <%= f.radios :place, 'Kde plánujete ísť voliť?', hint: hint do %>
          <h2 class="govuk-heading-m">1. kolo</h2>
            <%= f.hidden_field :place_first_round, :value => 'home' %>
            <p class="govuk-hint">
              Prvé kolo sa už konalo
            </p>
          <h2 class="govuk-heading-m">2. kolo</h2>
          <%= f.radio_button :place_second_round, 'sk', label: "Mimo trvalého bydliska" %>
          <%= f.radio_button :place_second_round, 'home', label: "V mieste trvalého bydliska" %>
        <% end %>

        <%= f.submit 'Pokračovať' %>
      <% else %>
        <% hint = 'Prezidentské voľby sa na Slovensku konajú od 7:00 do 22:00. Zvoľte, či budete hlasovať mimo trvalého bydliska v prvom, druhom, alebo v oboch kolách.' %>
        <%= f.radios :place, 'V ktorých kolách plánujete hlasovať mimo trvalého bydliska?', hint: hint do %>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apps_president_vote_app_application_form[place_first_round]" name="apps_president_vote_app_application_form[place_first_round]" type="checkbox" value="sk">
            <label class="govuk-label govuk-checkboxes__label" for="apps_president_vote_app_application_form[place_first_round]">V prvom kole 23. marca 2024</label>
          </div>
          <div class="govuk-checkboxes__item govuk-!-margin-bottom-5">
            <input class="govuk-checkboxes__input" id="apps_president_vote_app_application_form[place_second_round]" name="apps_president_vote_app_application_form[place_second_round]" type="checkbox" value="sk">
            <label class="govuk-label govuk-checkboxes__label" for="apps_president_vote_app_application_form[place_second_round]">V druhom kole 6. apríla 2024</label>
          </div>
          <%= f.submit 'Pokračovať' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
