<%= content_for :title, build_page_title('Hlasovanie bez trvalého pobytu', 'Prezidentské voľby') %>
<%= content_for(:headerline, 'Prezidentské voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for 'apps_president_vote_app_application_form', :builder => AppFormBuilder, url: apps_president_vote_app_application_forms_path do |f| %>
      <%= render 'apps/president_vote_app/application_forms/back', form: f %>
      <%= f.hidden_field :step, :value => 'world_abroad_permanent_resident' %>
    <% end %>

    <h1 class="govuk-heading-xl">Ak máte odhlásený trvalý pobyt zo Slovenska, môžete voliť v ktoromkoľvek volebnom okrsku</h1>
    <p class="govuk-body-m">Občan Slovenskej republiky, ktorý nemá trvalý pobyt na území Slovenskej republiky, môže svoj hlas uplatniť v ktorejkoľvek volebnej miestnosti. <strong>Preukáže svoju totožnosť predložením slovenského cestovného dokladu</strong> a vyplní čestné vyhlásenie, ktoré mu poskytne komisia.</p>
    <p class="govuk-body-m">Okrsková volebná komisia takéhoto voliča dopíše do zoznamu voličov, čo zaznamená v jeho slovenskom cestovnom doklade, a čestné vyhlásenie o trvalom pobyte v cudzine pripojí k zoznamu voličov.</p>

    <%= render 'apps/president_vote_app/application_forms/subscribe' %>
  </div>
</div>
