<%= render partial: 'header' %>

<div id="acts-submission" class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_for @application_form, :builder => AppFormBuilder, :id => "acts-fieldset", url: apps_or_sr_app_acts_submissions_fill_submission_path do |f| %>
      <%= render 'apps/or_sr_app/acts_submissions/back', form: f %>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h2 class="govuk-fieldset__heading">Kontaktný e-mail pre posielanie notifikácií z OR SR</h2>
      </legend>
      <br />

      <p>Uveďte email, na ktorý Vám bude OR SR posielať nofitikácie o stave podania.</p>
      <br />

      <%= render 'components/error_summary', form: @application_form %>

      <p class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="event-name">
          Email
        </label>
      </p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= f.text_field :email, type: 'email', value: current_user.logged_in? ? current_user.email : @application_form.email %>
        </div>
      </div>

      <%= render 'hidden_fields', form: f, current_step: 'email' %>
      <%= f.hidden_field :acts, value: @acts %>

      <button id="acts-submit-button" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" data-submit="true">
        Pokračovať ❯
      </button>
    <% end %>

    <%= form_with model: @submission_form, url: upvs_submissions_new_path, scope: 'upvs_submission', html: { id: 'new_upvs_submissions_forms_application_for_document_copy' } do |f| %>
      <%= f.hidden_field :form, value: nil %>
      <%= f.hidden_field :callback_url, value: apps_or_sr_app_acts_submissions_callback_url %>
      <%= f.hidden_field :recipient_uri %>
      <%= f.hidden_field :posp_version %>
      <%= f.hidden_field :posp_id %>
      <%= f.hidden_field :message_type %>
      <%= f.hidden_field :message_subject %>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  const continueEventHandlerOnClick = async (event) => {
    if (!event.target.matches('[data-submit="true"]')) return
    event.preventDefault();

    const company = document.getElementById('apps_or_sr_app_acts_submission_application_form_business_name').value
    const companyAddress = document.getElementById('apps_or_sr_app_acts_submission_application_form_business_address').value
    const companyCin = document.getElementById('apps_or_sr_app_acts_submission_application_form_business_cin').value
    const companySection = document.getElementById('apps_or_sr_app_acts_submission_application_form_business_section').value
    const companyInsertion = document.getElementById('apps_or_sr_app_acts_submission_application_form_business_insertion').value
    const companyCourt = document.getElementById('apps_or_sr_app_acts_submission_application_form_business_court').value
    const email = document.getElementById('apps_or_sr_app_acts_submission_application_form_email').value
    const acts = JSON.parse(document.getElementById('apps_or_sr_app_acts_submission_application_form_acts').value)

    let at = document.getElementById('authenticity-token').getAttribute('content')

    document.getElementById('upvs_submission_form').value = await post('/aplikacie/or-sr/listiny',
      {
        authenticity_token: at,
        apps_or_sr_app_acts_submission_application_form: {
          business_cin: companyCin,
          business_name: company,
          business_address: companyAddress,
          business_section: companySection,
          business_insertion: companyInsertion,
          business_court: companyCourt,
          email: email,
          acts: acts,
        }
      }
    ).then(res => res.text())

    const validation_response = await post('/aplikacie/or-sr/listiny/form_check',
      {
        authenticity_token: at,
        apps_or_sr_app_acts_submission_application_form: {
          business_cin: companyCin,
          business_name: company,
          business_address: companyAddress,
          business_section: companySection,
          business_insertion: companyInsertion,
          business_court: companyCourt,
          email: email,
          acts: acts,
          current_step: 'email'
        }
      }
    ).then(res => res.json());

    if (validation_response['status'] === 'valid') {
      document.getElementById('new_upvs_submissions_forms_application_for_document_copy').submit();
    }
    else {
      document.getElementById('new_apps_or_sr_app_acts_submission_application_form').submit();
    }
  }

  const post = async (url, data) => {
    return await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/xml',
      },
      body: JSON.stringify(data),
    })
  }

  const main = async () => {
    document.addEventListener(
      'click',
      function (event) {
        continueEventHandlerOnClick(event)
      },
      false
    )
  }

  document.addEventListener('turbolinks:load', function () {
    main().catch(console.log)
  })
</script>
