<p id="notice"><%= notice %></p>

<%= render 'breadcrumbs', crumbs: [], current: 'Apps' %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Title</th>
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @apps.each do |app| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= link_to app.title, app_path(app.slug) %> <%= "(#{app.published_status})" if app.published_status != 'PUBLISHED' %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_admin_app_path(app) %></td>
        <td class="govuk-table__cell"><%= link_to 'Destroy', [:admin, app], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App', new_admin_app_path, class: 'govuk-button' %>
