<% content_for :title, 'Návody.Digital: Jednoduché návody na slovenské úrady' %>

<% content_for(:before_main_wrapper) do %>
  <%= render 'searches/search_box' %>
  <main id="main-content" class="govuk-main-wrapper govuk-!-padding-top-0" role="main">
    <div class="featured-journeys govuk-!-padding-top-9 govuk-!-padding-bottom-9">
      <div class="govuk-width-container">
        <%= render 'shared/flash_messages' %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="sdn-tiles">
              <% @documents.each do |searchable| %>
                <%= link_to searchable, class: 'sdn-tiles__item sdn-tile' do %>
                  <%= image_tag "journeys/#{searchable.image_name.presence || "placeholder.png"}", class: 'sdn-tile__image' %>
                  <span class="sdn-tile__content sdn-tile-content-text-block">
                    <span class="sdn-tile-content-text-block__item"><%= searchable.title %></span>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <!--        <div class="govuk-grid-row">-->
        <!--          <div id="show-more-container" class="govuk-grid-column-full govuk-!-padding-top-6">-->
        <%#= link_to 'Zobraziť viac', '#', class: 'govuk-button', role: 'button', draggable: false  %>
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>

    <div class="govuk-width-container govuk-!-padding-top-4">
      <div class="govuk-main-wrapper govuk-main-wrapper--l">
        <h3 class="govuk-heading-l">Často kladené otázky</h3>
        <%= render "components/faq", faqs: @faqs %>
      </div>
    </div>
  </main>
<% end %>
