<%= form_with scope: :submission, url: submissions_path, local: true do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-body sdn-content">
      <h2>Výborne!</h2>
      <p>Vaše údaje sú už pripravené na pokračovanie vo Vašom podaní.</p>

      <%= render layout: 'attachments', locals: { attachments: submission_params[:attachments] } do %>
        <p>Stiahnite si, prosím, Vaše súbory:</p>
      <% end %>

      <%= render_notification_subscription_fields({ subscription_types: @subscription_types }, user: current_user, group: @group,  f: f, root: 'notification_subscriptions', email_partial: ('shared/email_custom' if current_user.logged_in?)) %>

      <%= nested_hidden_fields_for(submission_params, root: 'submission') %>

      <%= submit_tag "Odoslať súbor a #{current_user.logged_in? ? 'aktivovať zvolené notifikácie' : 'potvrdenie o odbere zvolených notifikácií'}", class: 'govuk-button' %>
    </div>
  </div>
  </div>
<% end %>
