<div id="step_subscription">
  <% if current_user_step.submitted_at %>
    <p>
      Teraz treba počkať na rozhodnutie. Ostáva <%= current_user_step.remaining_time %> z
      pôvodných <%= t('components.deadline.remaining_days', count: @current_step.waiting_time) %>.
    </p>
  <% end %>
  <% if current_user_step.to_be_notified_at %>
    <p>
      Budeme vás o tom notifikovať e-mailom <%= current_user_step.to_be_notified_at.strftime('%d.%m.%Y') %>.
    </p>
    <%= form_tag unsubscribe_deadline_notification_journey_step_path(@current_step.journey, @current_step), remote: true, authenticity_token: true, method: :delete do %>
      <%= hidden_field_tag :current_user_step_id, current_user_step.id %>
      <%= submit_tag 'Zrušiť naplánovanú notifikáciu.', class: 'govuk-button' %>
    <% end %>
  <% else
       current_user_step.submitted_at %>
    <p>
      Pošleme Vám na e-mail notifikáciu keď sa bude lehota blížiť?
      Vychádza to na <%= current_user_step.expected_resolution_date.strftime('%d.%m.%Y') %>
    </p>

    <%= form_tag subscribe_to_deadline_notification_journey_step_path(@current_step.journey, @current_step), remote: true, authenticity_token: true do %>
      <%= hidden_field_tag :current_user_step_id, current_user_step.id %>
      <%= hidden_field_tag :notification_date, current_user_step.expected_resolution_date %>
      <%= submit_tag 'Áno, toto chcem.', class: 'govuk-button' %>
    <% end %>
  <% end %>
</div>
