<div class="sdn-todo-list-main-action">
  <% if current_user_step.done? %>
    <div class="govuk-body-s sdn-todo-list-main-action__info">
      <h2 class="govuk-heading-s">Vybavené!</h2>
      Ak sa chcete vrátiť späť, môžete tento krok
      návodu <%= link_to 'označiť ako nevybavený', journey_step_path(@journey, @current_step, status: 'not_started'), method: :patch, remote: true %>
      .
    </div>
  <% elsif current_user_step.waiting? %>
    <div class="govuk-body-s sdn-todo-list-main-action__info">
      <h2 class="govuk-heading-s">Podanie bolo zaslané
        <% if current_user_step.submitted_at %>dňa <%= current_user_step.submitted_at.strftime('%d.%m.%Y') %>
        <% end %></h2>
      <div id="next-steps-info">
        <%= render 'step_subscription', current_user_step: current_user_step %>
        <a href="#" class="sdn-feedbackbar__link" data-module="sdn-appear-link" data-appear="change-notification-date" data-disappear="next-steps-info">Zmeniť
          dátum?</a>
      </div>
      <div id="change-notification-date" class="sdn-appear-link-hide">
        <div class="govuk-grid-column-two-thirds">
          Zmeniť dátum notifikácie
        </div>
        <div class="govuk-grid-column-one-third" style="text-align:right">
          <a href="#" data-module="sdn-appear-link" data-appear="next-steps-info" data-disappear="change-notification-date">Zatvoriť</a>
        </div>
        <%= form_tag subscribe_to_deadline_notification_journey_step_path(@current_step.journey, @current_step) , remote: true, authenticity_token: true do  %>
          <div class="govuk-form-group">
            <div class="govuk-date-input" id="dob">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <%= label_tag 'dob-day', 'Deň', class: "govuk-label govuk-date-input__label" %>
                  <%= number_field_tag 'day', current_user_step.expected_resolution_date.day, min: 1, max: 31, class: 'govuk-input govuk-date-input__input govuk-input--width-2', id: 'dob-day' %></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <%= label_tag 'dob-month', 'Mesiac', class: "govuk-label govuk-date-input__label" %>
                  <%= number_field_tag 'month', current_user_step.expected_resolution_date.month, min: 1, max: 12, class: 'govuk-input govuk-date-input__input govuk-input--width-2', id: 'dob-month' %></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <%= label_tag 'dob-year', 'Rok', class: "govuk-label govuk-date-input__label" %>
                  <%= number_field_tag 'year', current_user_step.expected_resolution_date.year, min: 2023, class: 'govuk-input govuk-date-input__input govuk-input--width-2', id: 'dob-year' %></div>
              </div>
            </div>
          </div>
          <%= submit_tag 'Zmeniť dátum a potvrdiť notifikáciu.', class: 'govuk-button' %>
        <% end %>
      </div>
    </div>

    <p>
      Po úspešnom vybavení podania, keď dostanete pozitívnu odpoveď, označte úlohu za vybavenú.
    </p>
    <div class="sdn-todo-list-main-action-buttons-wrapper">
      <div class="sdn-todo-list-main-action-buttons">
        <%= link_to 'Označiť ako vybavené', journey_step_path(@journey, @current_step, status: 'done'), class: 'govuk-button', method: :patch, remote: true %>
      </div>
    </div>
  <% else %>
    <% if @current_step.tasks.any? && @current_step.has_app? %>
      <div class="govuk-body-s sdn-todo-list-main-action__info">
        Po splnení všetkých povinností môžete podať elektronickú žiadosť a potom označiť tento krok ako podaný.
      </div>
    <% end %>
    <div class="sdn-todo-list-main-action-buttons-wrapper">
      <div class="sdn-todo-list-main-action-buttons">
        <% if @current_step.has_app? %>
          <%= link_to @current_step.app_link_text.presence || 'Požiadať elektronicky', start_journey_step_path(@journey, @current_step), target: '_blank', class: 'govuk-button govuk-button--start', draggable: false %>
        <% end %>
        <% if @current_step.is_waiting_step? %>
          <%= link_to 'Označiť ako podané', journey_step_path(@journey, @current_step, status: 'waiting'), class: 'govuk-button', method: :patch, remote: true %>
        <% else %>
          <%= link_to 'Označiť ako vybavené', journey_step_path(@journey, @current_step, status: 'done'), class: 'govuk-button', method: :patch, remote: true %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
