<% content_for :title, build_page_title(@current_step.title, @journey.title) %>
<%= content_for(:headerline, @journey.title) %>
<%= content_for :description, truncate(strip_tags(@current_step.description), length: 500) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render 'shared/timeline' %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body sdn-content">
      <%= raw @current_step.description %>
    </div>

    <%= render 'journeys/todo_list', step: @current_step %>

    <%= link_to 'Začať', start_user_journey_path(@journey), class: 'govuk-button', method: :post %>
  </div>
</div>

