<% content_for :title, build_step_page_title(@current_step) %>
<%= content_for(:headerline, @journey.title) %>
<%= content_for :description, truncate(strip_tags(@current_step.description), length: 500) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body sdn-content">
      <h1><%= @current_step.title %></h1>
      <%= raw_with_custom_components @current_step.description, journey: @journey %>
    </div>

    <%= render 'journeys/todo_list', step: @current_step %>

    <%= render partial: 'components/next_step', object: @current_step.next_step, locals: {journey: @journey} %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render 'components/timeline' %>
  </div>
</div>
