<%= form_with model: @form, url: apps_business_register_app_acts_submissions_path, scope: 'acts_submission', html: { id: 'acts_submission_form' } do |f| %>
  <p>
    <%= f.label :email, value: current_user.logged_in? ? current_user.email : nil %> <br>
    <%= f.text_field :email %>
  </p>

  <br>

  <p>
    <%= f.label :business %> <br>
  <div id="acts_submission_business_results"></div>
  </p>
  <%# JS fetch of businesses - http://localhost:3000/aplikacie/obchodny-register/search_business?q=<business-name> %>

  <%= f.hidden_field :business_name %>
  <%= f.hidden_field :business_cin %>
  <%= f.hidden_field :business_address %>

  <h4>Listiny:</h4>

  <%# JS fetch of acts for business - http://localhost:3000/aplikacie/obchodny-register/search_acts?ico=46792511 %>
  <% (@form.acts || []).each do |act| %>
    <%= f.fields_for 'acts[]', act do |ff| %>
      <hr>
      <p>
        <%= ff.label :name %>
        <%= ff.text_field :name, readonly: true %>
        <%= ff.label :code %>
        <%= ff.text_field :code, readonly: true %>
      </p>
      <p>
        <%= ff.label :make_copy %>
        <%= ff.check_box :make_copy %>
      </p>
      <hr>
    <% end %>

  <% end %>

  <%= f.submit 'Submit XML' %>
<% end %>
