<%= form_for :acts_submission, url: apps_business_register_app_acts_submissions_path do |f| %>
  <p>
    <%= f.label :email, value: current_user.logged_in? ? current_user.email : nil %> <br>
    <%= f.text_field :email %>
  </p>

  <br>

  <p>
    <%= f.label :business %> <br>
    <div id="acts_submission_business_results"></div>
  </p>
  <%# JS fetch of businesses - http://localhost:3000/aplikacie/obchodny-register/search_business?q=<business-name> %>

  <%= f.hidden_field :business_name %>
  <%= f.hidden_field :business_ico %>
  <%= f.hidden_field :business_address %>

  <h4>Listiny:</h4>

  <%# JS fetch of acts for business - http://localhost:3000/aplikacie/obchodny-register/search_acts?ico=46792511 %>
  <% [
       OpenStruct.new({ id: 1, make_copy: true, code: '1', name: 'Listina 1' }),
       OpenStruct.new({ id: 2, make_copy: false, code: '2', name: 'Listina 2' }),
].each do |act| %>
    <%= f.fields_for 'acts[]', act do |ff| %>
      <hr>
      <p>
        <%= ff.label :name %>
        <%= ff.text_field :name, readonly: true %>
        <%= ff.label :code %>
        <%= ff.text_field :code, readonly: true %>
      </p>
      <p>
        <%= ff.label :make_copy %>
        <%= ff.check_box :make_copy %>
      </p>
      <hr>
    <% end %>

  <% end %>

  <%= f.submit 'Submit XML' %>
<% end %>


<%# todo "external URL" for preview of the form before submitting %>
<%= form_for @form, url: upvs_submissions_new_path do |f| %>

  <%#  todo this will be appended XML by JS %>
  <%= f.hidden_field :form, value: nil %>
  <%= f.hidden_field :callback_url, value: apps_business_register_app_callback_url %>

  <%= f.hidden_field :recipient_uri %>
  <%= f.hidden_field :posp_version %>
  <%= f.hidden_field :posp_id %>
  <%= f.hidden_field :message_type %>
  <%= f.hidden_field :message_subject %>
  <%= f.submit 'Submit' %>
<% end %>

<%= javascript_include_tag 'apps/ep_vote_app/libs.js', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript" charset="utf-8">

  <!-- todo reuse existing function -->
  function debounce(fn, delay) {
    let timer = null;
    return function () {
      let context = this, args = arguments;
      clearTimeout(timer);
      timer = setTimeout(function () {
        fn.apply(context, args);
      }, delay);
    };
  }

  function initAll() {
    accessibleAutocomplete({
      element: document.getElementById('acts_submission_business_results'),
      id: 'acts_submission_business', // To match it to the existing <label>.
      source: debounce(async (query, populateResults) => {
        const res = await fetch(`/aplikacie/obchodny-register/search_business?q=${encodeURIComponent(query)}`);
        const data = (await res.json()).result;

        populateResults(data);
      }),
      onConfirm: async (result) => {
        document.getElementById('acts_submission_business_name').value = result?.name;
        document.getElementById('acts_submission_business_ico').value = result?.ico;
        document.getElementById('acts_submission_business_address').value = result?.address;

        const res = await fetch('/aplikacie/obchodny-register/search_acts?' + new URLSearchParams({
          oddiel: encodeURIComponent(result?.oddiel),
          vlozka: encodeURIComponent(result?.vlozka),
          sud: encodeURIComponent(result?.sud),
        }));
        const data = (await res.json()).result;

        console.log(data);
        // populate all acts
      },
      minLength: 3,
      templates: {
        inputValue: (result) => {
          return result?.name;
        },
        suggestion: (result) => {
          return `<strong>${result?.name}</strong>`
        }
      },
      confirmOnBlur: false,
      showNoOptionsFound: false,
      displayMenu: 'overlay',
      tNoResults: () => 'Žiadne výsledky',
    })
  }

  document.addEventListener('turbolinks:load', function () {
    initAll();
  });

</script>
