<p id="notice"><%= notice %></p>

<%= render 'breadcrumbs', crumbs: [], current: 'Uploads' %>

<br>

<%= link_to 'New Upload', new_admin_upload_path, class: 'govuk-button' %>

<%= form_tag(admin_uploads_path, method: :get, builder: AdminFormBuilder) do %>
  <%= text_field_tag :prefix, '', class: 'govuk-input', style: 'width: 50%;' %>
  <%= submit_tag "Filter by prefix", name: "", class: 'govuk-button' %>
<% end %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Filename</th>
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @files.each do |file| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= file.key %></td>
        <td class="govuk-table__cell">
          <% if file.content_type.include?('video') %>
            <%= video_tag UploadsService.get_url(file), size: "320x200", :controls => true %>
          <% elsif file.content_type.include?('image') %>
            <%= link_to (image_tag UploadsService.get_url(file), size: "320x200"), UploadsService.get_url(file) %>
          <% end %>
        </td>
        <td class="govuk-table__cell"><%= link_to 'Copy link', UploadsService.get_url(file), class: 'copy-to-clipboard', onclick: "copyToClipboard('#{UploadsService.get_url(file)}');return false;" %></td>
        <td class="govuk-table__cell"><%= link_to 'Downloadï¸', UploadsService.get_url(file), download: file.filename %></td>
        <td class="govuk-table__cell"><%= link_to 'Delete', admin_upload_path(file.key), method: :delete, data: { confirm: 'Are you sure you want to delete file: ' + file.key + '?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>

</script>
