<% if obo_token_request.initiated? %>
  <% if obo_token_request.pending? %>
    <%= button_tag 'Čaká sa na prihlásenie cez eID', type: :button, class: 'govuk-button', disabled: true %>
    <p class="govuk-body-m">
      <%= link_to 'Prihlásiť sa cez eID', submissions_obo_token_path(obo_token_request), class: 'govuk-link', method: :post, target: '_blank' %>
    </p>
  <% else %>
    <% if obo_token.expired? %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Upozornenie</span>
          Platnosť prihlásenia cez eID vypršala, prihláste sa prosím opať.
        </strong>
      </div>
      <%= link_to 'Prihlásiť sa cez eID', submissions_obo_token_path(obo_token_request), class: 'govuk-button', method: :post, target: '_blank' %>
    <% else %>
      <%= submit_tag "Odoslať všeobecné podanie ako #{obo_token.name}", class: 'govuk-button', data: { disable_with: 'Čaká sa na odoslanie všeobecného podania' } %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to 'Prihlásiť sa cez eID', submissions_obo_token_path(id: obo_token_request_id), class: 'govuk-button', method: :post, target: '_blank' %>
<% end %>
