<% content_for :title, build_page_title('Všeobecné podanie', 'Podania') %>
<% content_for :description, sanitize_description('Všeobecné podanie pomocou prihlásenia cez eID') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Všeobecné podanie</h1>
    <p class="govuk-body-m">Formulár umožňuje odoslať všeobecné podanie pomocou prihlásenia cez eID.</p>
    <%= form_for @general_agenda, builder: AppFormBuilder do |f| %>
      <%= render 'components/error_summary', form: @general_agenda %>
      <%= f.hidden_field :uuid %>
      <%= f.text_field :recipient_uri, label: 'Príjemca' %>
      <%= f.text_field :subject, label: 'Predmet' %>
      <%= f.text_area :body, label: 'Obsah', rows: 10 %>

      <%= f.text_field :token, label: 'Token' %>
      <% url = URI.join(ENV['SLOVENSKO_SK_API_URL'], "login?callback=#{callback_submissions_obo_tokens_url}") %>
      <%= f.button 'Prihlásiť sa pomocou eID', onclick: "window.open('#{url}'); return false;", id: 'ben', class: 'govuk-button' %>

    <% end %>
  </div>
</div>
