<p id="notice"><%= notice %></p>

<%= render 'breadcrumbs', crumbs: [], current: 'Categories' %>

<br>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Featured on front page</th>
      <th class="govuk-table__header" scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% @categories.each do |category| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= category.name %></td>
      <td class="govuk-table__cell">
        <% if category.featured? %>
          <%= link_to '&#10004;'.html_safe, hide_admin_category_path(category), method: :put %>
        <% else %>
          <%= link_to '&#10060;'.html_safe, feature_admin_category_path(category), method: :put %>
        <% end %>
      </td>
      <td class="govuk-table__cell"><%= link_to 'Documents', admin_category_path(category) %>
      <td class="govuk-table__cell"><%= link_to 'Edit', edit_admin_category_path(category) %></td>
      <td class="govuk-table__cell"><%= link_to 'Destroy', [:admin, category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_category_path, class: 'govuk-button' %>
