<p id="notice"><%= notice %></p>

<%= render 'breadcrumbs', crumbs: [], current: 'Documents' %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Position</th>
      <th class="govuk-table__header" scope="col">Featured</th>
      <th class="govuk-table__header" scope="col">Slug</th>
      <th class="govuk-table__header" scope="col">Type</th>
      <th class="govuk-table__header" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @documents.each do |document| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= document.featured_position %></td>
        <td class="govuk-table__cell">
          <% if document.featured? %>
            <%= link_to '&#10004;'.html_safe, hide_admin_document_path(document), method: :put %>
          <% else %>
            <%= link_to '&#10060;'.html_safe, feature_admin_document_path(document), method: :put %>
          <% end %>
        </td>
        <td class="govuk-table__cell"><%= link_to document.searchable.slug, document.searchable %></td>
        <td class="govuk-table__cell"><%= document.searchable_type %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_admin_document_path(document) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Reposition Documents', reposition_admin_documents_path, method: :post, class: 'govuk-button' %>

