<div id="new_subscription_notification_group">
  <div class="govuk-form-group<% if form.errors[:subscriptions].any? %> govuk-form-group--error<% end %>">
    <% form.errors[:subscriptions].each do |error| %>
      <span class="govuk-error-message"><%= error %></span>
    <% end %>

    <div class="govuk-checkboxes">
      <% if form.subscription_types.count == 1 %>
        <%= hidden_field_tag '#{parent}[subscriptions][]', form.subscription_types.first %>
      <% else %>
        <% form.subscription_types.each_with_index do |type, index| %>
          <% subscription = NotificationSubscription::TYPES[type] %>
          <% next unless subscription %>
          <div class="govuk-checkboxes__item">
            <%= check_box_tag "#{parent}[subscriptions][]", type, form.subscriptions.include?(type), {class: 'govuk-checkboxes__input', id: "#{parent}_#{index}"} %>
            <%= f.label index, subscription[:label], class: 'govuk-label govuk-checkboxes__label govuk-label--s' %>
            <span class="govuk-hint govuk-checkboxes__hint"><%= subscription[:hint] %></span>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= render partial: (defined?(:email_partial) && !!email_partial ? email_partial : 'shared/email_simple'), locals: { form: form, f: f, parent: 'submission' } %>
  </div>
</div>