<p id="notice"><%= notice %></p>

<%= render 'breadcrumbs', crumbs: [['Journeys', admin_journeys_path], [@journey.title, edit_admin_journey_path(@journey)]], current: 'Law links' %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col">Link</th>
      <th class="govuk-table__header" scope="col">Valid From</th>
      <th class="govuk-table__header" scope="col">Valid To</th>
      <th class="govuk-table__header" scope="col">Last change</th>
      <th class="govuk-table__header" scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @journey_legal_definitions.each do |journey_legal_definition| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= outdated_helper(journey_legal_definition.is_outdated?) %></td>
        <td class="govuk-table__cell">&hellip;<%= link_to journey_legal_definition.link.slice(-30, 30), journey_legal_definition.link, target: '_blank' %></td>
        <td class="govuk-table__cell"><%= journey_legal_definition.law.valid_from  %></td>
        <td class="govuk-table__cell"><%= journey_legal_definition.law.valid_to %></td>
        <td class="govuk-table__cell"><%= journey_legal_definition.law.last_update_at.to_date %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_admin_journey_journey_legal_definition_path(journey_legal_definition.journey, journey_legal_definition) %></td>
        <td class="govuk-table__cell"><%= link_to 'Destroy', [:admin, journey_legal_definition.journey, journey_legal_definition], method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journey Legal Definition', new_admin_journey_journey_legal_definition_path(@journey), {class: 'govuk-button'} %>
