<% unless feed_entry.done? %>
  <p class="govuk-body">Pre firmu <strong><%= feed_entry.thing.name %></strong> evidujeme <strong>dlh <%= feed_entry.custom_fields['debt_amount'] %> EUR v Sociálnej poisťovni</strong> ku dňu <strong><%= feed_entry.custom_fields['debt_on'] %></strong><br><small>&mdash; Kontrola stavu prebehla <%= feed_entry.last_checked_at.strftime("%-d.%-m.%Y") %>&nbsp;o&nbsp;<%= feed_entry.last_checked_at.strftime('%H:%M') %></small></p>
  <p><%= link_to feed_entry.journey.title, feed_entry.journey, class: 'govuk-button govuk-button--start' %></p>
<% else %>
  <p class="govuk-body">Pre firmu <strong><%= feed_entry.thing.name %></strong> neevidujeme dlh.<br><small>&mdash; Posledná zmena bola <%= feed_entry.updated_at.strftime("%-d.%-m.%Y.") %>&nbsp;o&nbsp;<%= feed_entry.updated_at.strftime('%H:%M') %></small></p>
<% end %>
