<p id="notice"><%= notice %></p>

<%= render 'breadcrumbs', crumbs: [], current: 'Images' %>

<p>Images are stored and served on <a href="<%= ActiveStorage::Blob.service.bucket.url %>">this Amazon S3 Bucket<a>.</p> 

<%= form_tag(admin_images_path, method: :get, builder: AdminFormBuilder) do %>
  <%= text_field_tag :prefix, '', class: 'govuk-input', style: 'width: 70%;' %>
  <%= submit_tag "Search by prefix", name: "", class: 'govuk-button' %>
<% end %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Filename</th>
      <th class="govuk-table__header" scope="col">Url</th>
      <th class="govuk-table__header" scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @images.each do |image| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= image.key %></td>
        <td class="govuk-table__cell"><%= link_to 'Link to image', image.public_url %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_admin_image_path(image) %></td>
        <td class="govuk-table__cell"><%= link_to 'Delete', admin_image_path(image.key), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Upload New Image', new_admin_image_path, class: 'govuk-button' %>