<% content_for :title, build_page_title(@journey.title) %>
<%= content_for(:headerline, @journey.title) %>
<%= content_for :description, truncate(strip_tags(@journey.description), length: 500) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render 'shared/timeline' %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body sdn-content">
      <%= raw @journey.description %>
    </div>

    <%= render 'journeys/todo_list', step: @step %>

    <%= render partial: 'shared/next_step', object: @next_step, locals: {journey: @journey} %>
  </div>
</div>

