<%= content_for(:headerline, @journey.title) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="sdn-timeline">
      <ol start=0 class="sdn-timeline__list">
        <li class="sdn-timeline__step">
          <div class="sdn-timeline__bullet"></div>
          <% if @step == nil %>
            <strong>
              <%= link_to 'Úvod', journey_path(slug: @journey.slug), class: 'sdn-timeline__link' %>
            </strong>
          <% else %>
            <%= link_to 'Úvod', journey_path(slug: @journey.slug), class: 'sdn-timeline__link' %>
          <% end %>
        </li>
        <% @journey.steps.each do |step| %>
          <li class="sdn-timeline__step">
            <div class="sdn-timeline__bullet"></div>
            <% if @step == step %>
              <strong>
                <%= link_to step.title, journey_step_path(slug: @journey.slug, step_slug: step.slug), class: 'sdn-timeline__link' %>
              </strong>
            <% else %>
              <%= link_to step.title, journey_step_path(slug: @journey.slug, step_slug: step.slug), class: 'sdn-timeline__link' %>
            <% end %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @title %></h1>

    <div class="govuk-body">
      <%= raw @text %>
    </div>

    <% if @step %>
      <div class="govuk-body">
        <h2>Zoznam podúloh</h2>
        <ul>
          <% @step.tasks.each do |task| %>
            <li><%= render "journeys/tasks/#{task.type.underscore}", task: task %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to 'Začať', create_user_journey_path(journey_id: @journey.id, step_id: @starting_step.id), class: 'govuk-button', method: :post %>
  </div>
</div>

