<div id="subsciption_info">
  <% if current_user_step.to_be_notified_at %>
    <p>
      O vypršaní lehoty vám zašleme notifikáciu e-mailom dňa <%= current_user_step.to_be_notified_at.strftime('%d.%m.%Y') %>.
      <a id="change-notification-date-link" href="#">Zmeniť dátum</a>
    </p>
    <%= form_tag unsubscribe_deadline_notification_journey_step_path(@current_step.journey, @current_step), remote: true, authenticity_token: true, method: :delete do %>
      <%= hidden_field_tag :current_user_step_id, current_user_step.id %>
      <%= submit_tag 'Zrušiť notifikáciu', class: 'govuk-button govuk-button--warning' %>
    <% end %>
  <% else
       current_user_step.submitted_at %>
    <p>
      Ak si želáte môžeme vám poslať notifikáciu dňa <%= current_user_step.expected_resolution_date.strftime('%d.%m.%Y') %>.
      <a id="change-notification-date-link" href="#">Zmeniť dátum</a>
    </p>

    <%= form_tag subscribe_to_deadline_notification_journey_step_path(@current_step.journey, @current_step), remote: true, authenticity_token: true do %>
      <%= hidden_field_tag :current_user_step_id, current_user_step.id %>
      <%= hidden_field_tag :notification_date, current_user_step.expected_resolution_date %>
      <%= submit_tag 'Zapnúť notifikáciu', class: 'govuk-button' %>
    <% end %>
  <% end %>
</div>
