<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-top-6">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
        <h1 class="govuk-fieldset__heading">
          Vaše osobné údaje
        </h1>
      </legend>

      <%= form_for @registration, as: 'registration', url: wizard_path, builder: GovukFormBuilder, method: :put do |f| %>
        <%= render 'errors', errors: f.object.errors %>

        <%= f.govuk_text_field :first_name, class: 'govuk-!-width-one-third' %>
        <%= f.govuk_text_field :last_name, class: 'govuk-!-width-two-thirds' %>
        <%= f.govuk_text_field :birth_code, hint: 'Napríklad <q>8909231234</q>'.html_safe, class: 'govuk-!-width-one-third' %>

        <%= f.submit "Pokračovať", class: 'govuk-button' %>
      <% end %>
    </fieldset>
  </div>
</div>
