<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>window.GOVUKFrontend.initAll()</script>
  </head>

  <body class="govuk-template__body ">
  <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

  </script>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  <header class="sdn-header " role="banner" data-module="header">
    <div class="sdn-header__container govuk-width-container">

      <%= link_to root_path, class: 'sdn-header__link' do %>
      <span class="sdn-header__product-name">
        Návody.Digital
      </span>
      <% end %>

      <div class="sdn-header__content">
        <nav>
          <ul id="navigation" class="sdn-header__navigation " aria-label="Top Level Navigation">
            <li>
              <%= link_to 'Časté otázky', static_page_path('casto-kladene-otazky'), class: 'sdn-header__link' %>
            </li>
          </ul>
        </nav>
      </div>
      <div class="user-info">
        <% if current_user %>
          <%= current_user.email %>
          <%= link_to 'Odhlásiť', session_path, method: :delete %>
        <% else %>
          <%= link_to 'Prihlásiť', new_session_path %>
        <% end %>
      </div>
    </div>
  </header>

  <% if content_for?(:headerline) %>
    <div class="sdn-headline">
      <div class="sdn-headline__container govuk-width-container">
        <div>
          <span class="sdn-headline__headline"><%= yield :headerline %></span></div>
      </div>
    </div>
  <% end %>

  <% if current_page?(controller: :static, action: :index) %>
    <%= render 'searches/search_box' %>
  <% end %>

  <div class="govuk-width-container">
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p><%= flash[:alert] %></p>
    <% end %>
  </div>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <%= yield %>
    </main>
  </div>

  <footer class="sdn-footer" role="contentinfo">
    <div class="govuk-width-container">
      <div class="sdn-footer__container">
        <div class="sdn-footer__donate">
        <span class="sdn-footer__heart-wrapper">
          <span class="sdn-footer__heart"></span>
        </span>
          <span class="sdn-footer__donate-text">Páči sa Vám,<br> čo pre vás robíme?<br><a href="#" class="sdn-footer__link sdn-footer__donate-link">Podporte nás</a></span>
        </div>
        <div class="sdn-footer__newsletter">
          <span class="sdn-footer__newsletter-heading">Novinky emailom <small class="sdn-footer__newsletter-heading-tooltip">(raz mesačne)</small></span>
          <div class="govuk-form-group sdn-footer__newsletter-form-group">
            <input id="email-input" class="govuk-input sdn-footer__newsletter-input" name="email" placeholder="Zadajte emailovú adresu" />
            <button type="submit" class="govuk-button sdn-footer__newsletter-button">Prihlásiť</button>
          </div>
          <span class="sdn-footer__newsletter-disclaimer">Prihlásením dávam dobrovoľný súhlas OZ Slovensko.Digital na zasielanie bezplatného newslettera na mnou zadaný e-mail. Tento súhlas môžem kedykoľvek odvolať na <a href="mailto:kontakt@slovensko.digital" class="sdn-footer__link">kontakt@slovensko.digital</a>. Oboznámil(a) som sa s informáciami v sekcii <a href="#" class="sdn-footer__link">Ochrana osobných údajov</a>.</span>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
