<!DOCTYPE html>
<html lang="sk" class="has-sticky-footer">
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Návody.Digital
    <% end %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <% if content_for?(:description) %>
    <meta name="description" content="<%= content_for(:description) %>">
  <% end %>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Návody.Digital"/>
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:title" content="<%= @metadata.og.title.presence || yield(:title) %>"/>
  <meta property="og:description" content="<%= @metadata.og.description.presence || yield(:description) %>"/>
  <meta property="og:image" content="<%= @metadata.og.image.present? ? image_url(@metadata.og.image) : image_url('og-navody.png') %>"/>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="govuk-template__body">
<div class="navody-template__content">
  <%= javascript_include_tag 'iframe', 'data-turbolinks-track': 'reload' %>
  <script>
    document.body.classList.add('js-enabled');
  </script>

  <a href="#hlavny-obsah" class="govuk-skip-link">Preskočiť na hlavný obsah</a>

  <%= render 'components/header' %>

  <% if content_for?(:headerline) %>
    <%= render 'components/headerline' %>
  <% end %>

  <% if content_for?(:before_main_wrapper) %>
    <%= yield(:before_main_wrapper) %>
  <% else %>
    <div class="govuk-width-container">
      <%= yield(:before_content) %>

      <%= render 'shared/flash_messages' %>

      <main class="govuk-main-wrapper" id="hlavny-obsah">
        <%= yield %>
      </main>
    </div>
  <% end %>
</div>

<% unless @disable_feedback %>
  <%= render 'components/feedbackbar' %>
<% end %>

<div class="navody-template__footer">
  <%= render 'components/footer' %>
</div>
<%= render 'shared/google_analytics' %>

<% if content_for?(:json_ld) %>
  <script type="application/ld+json">
    <%= yield(:json_ld) %>
  </script>
<% end %>

</body>
</html>
