<!DOCTYPE html>
<html>
<head>
  <title>NavodySlovenskoDigital</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track':'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track':'reload' %>
  <script>window.GOVUKFrontend.initAll()</script>
</head>

<body class="govuk-template__body ">
  <script>
  document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

  </script>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  <header class="govuk-header " role="banner" data-module="header">
    <div class="govuk-header__container govuk-width-container">

      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype">

            <svg role="presentation" focusable="false" class="govuk-header__logotype-crown" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 132 97" height="32" width="36">
              <path fill="currentColor" fill-rule="evenodd" d="M25 30.2c3.5 1.5 7.7-.2 9.1-3.7 1.5-3.6-.2-7.8-3.9-9.2-3.6-1.4-7.6.3-9.1 3.9-1.4 3.5.3 7.5 3.9 9zM9 39.5c3.6 1.5 7.8-.2 9.2-3.7 1.5-3.6-.2-7.8-3.9-9.1-3.6-1.5-7.6.2-9.1 3.8-1.4 3.5.3 7.5 3.8 9zM4.4 57.2c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.5-1.5-7.6.3-9.1 3.8-1.4 3.5.3 7.6 3.9 9.1zm38.3-21.4c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.6-1.5-7.6.3-9.1 3.8-1.3 3.6.4 7.7 3.9 9.1zm64.4-5.6c-3.6 1.5-7.8-.2-9.1-3.7-1.5-3.6.2-7.8 3.8-9.2 3.6-1.4 7.7.3 9.2 3.9 1.3 3.5-.4 7.5-3.9 9zm15.9 9.3c-3.6 1.5-7.7-.2-9.1-3.7-1.5-3.6.2-7.8 3.7-9.1 3.6-1.5 7.7.2 9.2 3.8 1.5 3.5-.3 7.5-3.8 9zm4.7 17.7c-3.6 1.5-7.8-.2-9.2-3.8-1.5-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.3 3.5-.4 7.6-3.9 9.1zM89.3 35.8c-3.6 1.5-7.8-.2-9.2-3.8-1.4-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.4 3.6-.3 7.7-3.9 9.1zM69.7 17.7l8.9 4.7V9.3l-8.9 2.8c-.2-.3-.5-.6-.9-.9L72.4 0H59.6l3.5 11.2c-.3.3-.6.5-.9.9l-8.8-2.8v13.1l8.8-4.7c.3.3.6.7.9.9l-5 15.4v.1c-.2.8-.4 1.6-.4 2.4 0 4.1 3.1 7.5 7 8.1h.2c.3 0 .7.1 1 .1.4 0 .7 0 1-.1h.2c4-.6 7.1-4.1 7.1-8.1 0-.8-.1-1.7-.4-2.4V34l-5.1-15.4c.4-.2.7-.6 1-.9zM66 92.8c16.9 0 32.8 1.1 47.1 3.2 4-16.9 8.9-26.7 14-33.5l-9.6-3.4c1 4.9 1.1 7.2 0 10.2-1.5-1.4-3-4.3-4.2-8.7L108.6 76c2.8-2 5-3.2 7.5-3.3-4.4 9.4-10 11.9-13.6 11.2-4.3-.8-6.3-4.6-5.6-7.9 1-4.7 5.7-5.9 8-.5 4.3-8.7-3-11.4-7.6-8.8 7.1-7.2 7.9-13.5 2.1-21.1-8 6.1-8.1 12.3-4.5 20.8-4.7-5.4-12.1-2.5-9.5 6.2 3.4-5.2 7.9-2 7.2 3.1-.6 4.3-6.4 7.8-13.5 7.2-10.3-.9-10.9-8-11.2-13.8 2.5-.5 7.1 1.8 11 7.3L80.2 60c-4.1 4.4-8 5.3-12.3 5.4 1.4-4.4 8-11.6 8-11.6H55.5s6.4 7.2 7.9 11.6c-4.2-.1-8-1-12.3-5.4l1.4 16.4c3.9-5.5 8.5-7.7 10.9-7.3-.3 5.8-.9 12.8-11.1 13.8-7.2.6-12.9-2.9-13.5-7.2-.7-5 3.8-8.3 7.1-3.1 2.7-8.7-4.6-11.6-9.4-6.2 3.7-8.5 3.6-14.7-4.6-20.8-5.8 7.6-5 13.9 2.2 21.1-4.7-2.6-11.9.1-7.7 8.8 2.3-5.5 7.1-4.2 8.1.5.7 3.3-1.3 7.1-5.7 7.9-3.5.7-9-1.8-13.5-11.2 2.5.1 4.7 1.3 7.5 3.3l-4.7-15.4c-1.2 4.4-2.7 7.2-4.3 8.7-1.1-3-.9-5.3 0-10.2l-9.5 3.4c5 6.9 9.9 16.7 14 33.5 14.8-2.1 30.8-3.2 47.7-3.2z"></path>
            </svg>
            <span class="govuk-header__logotype-text">
              Návody.Digital
            </span>
          </span>
        </a>
      </div>
    </div>
  </header>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <%= yield %>
    </main>
    <div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
      <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
        <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
          <h2 class="gem-c-feedback__prompt-question">Je táto stránka užitočná?</h2>
          <iframe name="form-result" style="display: none;"></iframe>

          <form target="form-result" id="autoform-form-1" action="https://docs.google.com/forms/d/e/1FAIpQLSdfq5fGDCcePNTS7D__Kwz4v_L5th2w0HuJbkO1-Vqmk7Ul4Q/formResponse" method="post">
            <input type="hidden" id="autoform-email" name="entry.123831275" value="áno" />
            <a onclick="$(this).closest('form').submit()" class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="#" id="submit_to_autoform" data-turbolinks="false">
              Áno <span class="visually-hidden">Táto stránka je užitočná</span>
            </a>
            
          </form>

          
          <a id="autoform-2-show"  class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" aria-controls="page-is-not-useful" aria-expanded="false" href="#" data-turbolinks="false">
            Nie <span class="visually-hidden">Táto stránka nie je užitočná</span>
          </a>
          <a id="autoform-3-show" class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" href="#" data-turbolinks="false">
            Je na stránke chyba?
          </a>
        </div>

        <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
          Ďakujeme za váš názor
        </div>

      </div>   

      <form target="form-result" id="autoform-form-2" action="https://docs.google.com/forms/d/e/1FAIpQLSfRnC8rYB_w4GRwX7Ho7qHEBHs-A116874yzCf3Ri2YtcxEiw/formResponse" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback"  method="post">
        <a class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback"  aria-controls="something-is-wrong" aria-expanded="true" >Zavri</a>

        <div class="gem-c-feedback__grid-row">
          <div class="gem-c-feedback__column-two-thirds">
            <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1">
            </div>
            <h3 class="gem-c-feedback__form-heading">Pomôžte nám vylepšiť slovensko.digital</h3>
            <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Nevpisujete vaše osobné informácie ako napríklad číslo OP</p>
            <div class="govuk-form-group">
              <label for="input-f2f8d9f4" class="gem-c-label govuk-label ">
                Akú životnú situáciu riešite?
              </label>
              <input name="entry.967558425" class="gem-c-input govuk-input" id="input-f2f8d9f4" type="text" aria-describedby="feedback_explanation">
            </div>

            <div class="govuk-form-group">
              <label for="input-7ce3144b" class="gem-c-label govuk-label ">
                Nastala niekde chyba?
              </label>
              <input name="entry.2083767391" class="gem-c-input govuk-input" id="autoform-email" type="text">
            </div>
            <button name="button" type="submit" id="submit_to_autoform" class="govuk-button">
              Odoslať
            </button>
          </div>
        </div>
      </form>

      <form target="form-result" id="autoform-form-3" action="https://docs.google.com/forms/d/e/1FAIpQLScxf6xNh_aKU5w5TVnQXgNF4qczogVsxvCcQEGzQgYfLp-zcg/formResponse" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post">
        <a class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Zavri</a>

        <div class="gem-c-feedback__grid-row">
          <div class="gem-c-feedback__column-two-thirds">
            <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

          

            <h3 class="gem-c-feedback__form-heading">Pomôžte nám vylepšiť slovensko.digital</h3>
            <p id="survey_explanation" class="gem-c-feedback__form-paragraph">
              Ak nám chcete pomôcť zlepšiť slovensko.digital, popíšte nám, prosím, dôvod vašej návštevy.
              <%# To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p> %>

              <div class="govuk-form-group">

               <label for="input-97be0eee" class="gem-c-label govuk-label ">
                Emailová adresa
              </label>
              <input name="entry.1867715514" class="gem-c-input govuk-input" id="input-97be0eee" type="email" aria-describedby="survey_explanation">
            </div>
            <button name="button" type="submit" id="submit_to_autoform" class="govuk-button">
              Pošlite mi dotazník
            </button>

            <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/browse/education&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link govuk-link" id="take-survey" target="_blank" rel="noopener noreferrer">Nemáš email?</a>
          </div>
        </div>
      </form>

    </div>

    <footer class="govuk-footer " role="contentinfo">
      <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

            <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
              <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"/>
            </svg>
            <span class="govuk-footer__licence-description">
              All content is available under the
              <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
            </span>
          </div>
          <div class="govuk-footer__meta-item">
            <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  </html>



  <script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  //  ga('create', 'sem treba pridat env ga tracking ID', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
  </script>